@-moz-keyframes a-carousel-item-1 {
  0%{
    left: 0;
    opacity: 1;
  }
  10%{
    left: 0;
    opacity: 1;
  }
  20%{
    left: -34%;
    opacity: 1;
  }
  30%{
    left: -34%;
    opacity: 0;
  }
  40%{
    left: 102%;
    opacity: 0;
  }
  50%{
    left: 102%;
    opacity: 1;
  }
  60%{
    left: 68%;
    opacity: 1;
  }
  70%{
    left: 68%;
    opacity: 1;
  }
  80%{
    left: 34%;
    opacity: 1;
  }
  90%{
    left: 34%;
    opacity: 1;
  }
  100%{
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes a-carousel-item-1 {
  0%{
    left: 0;
    opacity: 1;
  }
  10%{
    left: 0;
    opacity: 1;
  }
  20%{
    left: -34%;
    opacity: 1;
  }
  30%{
    left: -34%;
    opacity: 0;
  }
  40%{
    left: 102%;
    opacity: 0;
  }
  50%{
    left: 102%;
    opacity: 1;
  }
  60%{
    left: 68%;
    opacity: 1;
  }
  70%{
    left: 68%;
    opacity: 1;
  }
  80%{
    left: 34%;
    opacity: 1;
  }
  90%{
    left: 34%;
    opacity: 1;
  }
  100%{
    left: 0;
    opacity: 1;
  }
}
@keyframes a-carousel-item-1 {
  0%{
    left: 0;
    opacity: 1;
  }
  10%{
    left: 0;
    opacity: 1;
  }
  20%{
    left: -34%;
    opacity: 1;
  }
  30%{
    left: -34%;
    opacity: 0;
  }
  40%{
    left: 102%;
    opacity: 0;
  }
  50%{
    left: 102%;
    opacity: 1;
  }
  60%{
    left: 68%;
    opacity: 1;
  }
  70%{
    left: 68%;
    opacity: 1;
  }
  80%{
    left: 34%;
    opacity: 1;
  }
  90%{
    left: 34%;
    opacity: 1;
  }
  100%{
    left: 0;
    opacity: 1;
  }
}

@-moz-keyframes a-carousel-item-2 {
  0%{
    left: 0;
    opacity: 1;
  }
  10%{
    left: 0;
    opacity: 1;
  }
  20%{
    left: -34%;
    opacity: 1;
  }
  30%{
    left: -34%;
    opacity: 1;
  }
  40%{
    left: -68%;
    opacity: 1;
  }
  50%{
    left: -68%;
    opacity: 0;
  }
  60%{
    left: 68%;
    opacity: 0;
  }
  70%{
    left: 68%;
    opacity: 1;
  }
  80%{
    left: 34%;
    opacity: 1;
  }
  90%{
    left: 34%;
    opacity: 1;
  }
  100%{
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes a-carousel-item-2 {
  0%{
    left: 0;
    opacity: 1;
  }
  10%{
    left: 0;
    opacity: 1;
  }
  20%{
    left: -34%;
    opacity: 1;
  }
  30%{
    left: -34%;
    opacity: 1;
  }
  40%{
    left: -68%;
    opacity: 1;
  }
  50%{
    left: -68%;
    opacity: 0;
  }
  60%{
    left: 68%;
    opacity: 0;
  }
  70%{
    left: 68%;
    opacity: 1;
  }
  80%{
    left: 34%;
    opacity: 1;
  }
  90%{
    left: 34%;
    opacity: 1;
  }
  100%{
    left: 0;
    opacity: 1;
  }
}
@keyframes a-carousel-item-2 {
  0%{
    left: 0;
    opacity: 1;
  }
  10%{
    left: 0;
    opacity: 1;
  }
  20%{
    left: -34%;
    opacity: 1;
  }
  30%{
    left: -34%;
    opacity: 1;
  }
  40%{
    left: -68%;
    opacity: 1;
  }
  50%{
    left: -68%;
    opacity: 0;
  }
  60%{
    left: 68%;
    opacity: 0;
  }
  70%{
    left: 68%;
    opacity: 1;
  }
  80%{
    left: 34%;
    opacity: 1;
  }
  90%{
    left: 34%;
    opacity: 1;
  }
  100%{
    left: 0;
    opacity: 1;
  }
}

@-moz-keyframes a-carousel-item-3 {
  0%{
    left: 0;
    opacity: 1;
  }
  10%{
    left: 0;
    opacity: 1;
  }
  20%{
    left: -34%;
    opacity: 1;
  }
  30%{
    left: -34%;
    opacity: 1;
  }
  40%{
    left: -68%;
    opacity: 1;
  }
  50%{
    left: -68%;
    opacity: 1;
  }
  60%{
    left: -102%;
    opacity: 1;
  }
  70%{
    left: -102%;
    opacity: 0;
  }
  80%{
    left: 34%;
    opacity: 0;
  }
  90%{
    left: 34%;
    opacity: 1;
  }
  100%{
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes a-carousel-item-3 {
  0%{
    left: 0;
    opacity: 1;
  }
  10%{
    left: 0;
    opacity: 1;
  }
  20%{
    left: -34%;
    opacity: 1;
  }
  30%{
    left: -34%;
    opacity: 1;
  }
  40%{
    left: -68%;
    opacity: 1;
  }
  50%{
    left: -68%;
    opacity: 1;
  }
  60%{
    left: -102%;
    opacity: 1;
  }
  70%{
    left: -102%;
    opacity: 0;
  }
  80%{
    left: 34%;
    opacity: 0;
  }
  90%{
    left: 34%;
    opacity: 1;
  }
  100%{
    left: 0;
    opacity: 1;
  }
}
@keyframes a-carousel-item-3 {
  0%{
    left: 0;
    opacity: 1;
  }
  10%{
    left: 0;
    opacity: 1;
  }
  20%{
    left: -34%;
    opacity: 1;
  }
  30%{
    left: -34%;
    opacity: 1;
  }
  40%{
    left: -68%;
    opacity: 1;
  }
  50%{
    left: -68%;
    opacity: 1;
  }
  60%{
    left: -102%;
    opacity: 1;
  }
  70%{
    left: -102%;
    opacity: 0;
  }
  80%{
    left: 34%;
    opacity: 0;
  }
  90%{
    left: 34%;
    opacity: 1;
  }
  100%{
    left: 0;
    opacity: 1;
  }
}

@-moz-keyframes a-carousel-item-4 {
  0%{
    left: 0;
    opacity: 1;
  }
  10%{
    left: 0;
    opacity: 1;
  }
  20%{
    left: -34%;
    opacity: 1;
  }
  30%{
    left: -34%;
    opacity: 1;
  }
  40%{
    left: -68%;
    opacity: 1;
  }
  50%{
    left: -68%;
    opacity: 1;
  }
  60%{
    left: -102%;
    opacity: 1;
  }
  70%{
    left: -102%;
    opacity: 1;
  }
  80%{
    left: -136%;
    opacity: 1;
  }
  90%{
    left: -136%;
    opacity: 0;
  }
  100%{
    left: 0;
    opacity: 0;
  }
}
@-webkit-keyframes a-carousel-item-4 {
  0%{
    left: 0;
    opacity: 1;
  }
  10%{
    left: 0;
    opacity: 1;
  }
  20%{
    left: -34%;
    opacity: 1;
  }
  30%{
    left: -34%;
    opacity: 1;
  }
  40%{
    left: -68%;
    opacity: 1;
  }
  50%{
    left: -68%;
    opacity: 1;
  }
  60%{
    left: -102%;
    opacity: 1;
  }
  70%{
    left: -102%;
    opacity: 1;
  }
  80%{
    left: -136%;
    opacity: 1;
  }
  90%{
    left: -136%;
    opacity: 0;
  }
  100%{
    left: 0;
    opacity: 0;
  }
}
@keyframes a-carousel-item-4 {
  0%{
    left: 0;
    opacity: 1;
  }
  10%{
    left: 0;
    opacity: 1;
  }
  20%{
    left: -34%;
    opacity: 1;
  }
  30%{
    left: -34%;
    opacity: 1;
  }
  40%{
    left: -68%;
    opacity: 1;
  }
  50%{
    left: -68%;
    opacity: 1;
  }
  60%{
    left: -102%;
    opacity: 1;
  }
  70%{
    left: -102%;
    opacity: 1;
  }
  80%{
    left: -136%;
    opacity: 1;
  }
  90%{
    left: -136%;
    opacity: 0;
  }
  100%{
    left: 0;
    opacity: 0;
  }
}

@-moz-keyframes a-carousel-item-5 {
  0%{
    left: 0;
    opacity: 0;
  }
  10%{
    left: 0;
    opacity: 1;
  }
  20%{
    left: -34%;
    opacity: 1;
  }
  30%{
    left: -34%;
    opacity: 1;
  }
  40%{
    left: -68%;
    opacity: 1;
  }
  50%{
    left: -68%;
    opacity: 1;
  }
  60%{
    left: -102%;
    opacity: 1;
  }
  70%{
    left: -102%;
    opacity: 1;
  }
  80%{
    left: -136%;
    opacity: 1;
  }
  90%{
    left: -136%;
    opacity: 1;
  }
  100%{
    left: -170%;
    opacity: 1;
  }
}
@-webkit-keyframes a-carousel-item-5 {
  0%{
    left: 0;
    opacity: 0;
  }
  10%{
    left: 0;
    opacity: 1;
  }
  20%{
    left: -34%;
    opacity: 1;
  }
  30%{
    left: -34%;
    opacity: 1;
  }
  40%{
    left: -68%;
    opacity: 1;
  }
  50%{
    left: -68%;
    opacity: 1;
  }
  60%{
    left: -102%;
    opacity: 1;
  }
  70%{
    left: -102%;
    opacity: 1;
  }
  80%{
    left: -136%;
    opacity: 1;
  }
  90%{
    left: -136%;
    opacity: 1;
  }
  100%{
    left: -170%;
    opacity: 1;
  }
}
@keyframes a-carousel-item-5 {
  0%{
    left: 0;
    opacity: 0;
  }
  10%{
    left: 0;
    opacity: 1;
  }
  20%{
    left: -34%;
    opacity: 1;
  }
  30%{
    left: -34%;
    opacity: 1;
  }
  40%{
    left: -68%;
    opacity: 1;
  }
  50%{
    left: -68%;
    opacity: 1;
  }
  60%{
    left: -102%;
    opacity: 1;
  }
  70%{
    left: -102%;
    opacity: 1;
  }
  80%{
    left: -136%;
    opacity: 1;
  }
  90%{
    left: -136%;
    opacity: 1;
  }
  100%{
    left: -170%;
    opacity: 1;
  }
}


@-moz-keyframes a-fade-item {
  4%{
    opacity: 1;
  }
  20%{
    opacity: 1;
  }
  24%{
    opacity: 0;
  }
}
@-webkit-keyframes a-fade-item {
  4%{
    opacity: 1;
  }
  20%{
    opacity: 1;
  }
  24%{
    opacity: 0;
  }
}
@keyframes a-fade-item {
  4%{
    opacity: 1;
  }
  20%{
    opacity: 1;
  }
  24%{
    opacity: 0;
  }
}

@-moz-keyframes puzzle-img-jump-in-max {
  0%{
    width: $puzzleImgWH-max * 3;
    height: $puzzleImgWH-max * 3;
    z-index: 99;
    right: ($puzzleImg-max-block + $puzzleImgWH-max / 2) - ($puzzleImgWH-max * 3 / 2);
    top: ($puzzleImg-max-block + $puzzleImgWH-max / 2) - ($puzzleImgWH-max * 3 / 2);
  }
  100%{
    right: $puzzleImg-max-block;
    top: $puzzleImg-max-block;
    width: $puzzleImgWH-max;
    height: $puzzleImgWH-max;
    z-index: 99;
  }
}
@-webkit-keyframes puzzle-img-jump-in-max {
  0%{
    width: $puzzleImgWH-max * 3;
    height: $puzzleImgWH-max * 3;
    z-index: 99;
    right: ($puzzleImg-max-block + $puzzleImgWH-max / 2) - ($puzzleImgWH-max * 3 / 2);
    top: ($puzzleImg-max-block + $puzzleImgWH-max / 2) - ($puzzleImgWH-max * 3 / 2);
  }
  100%{
    right: $puzzleImg-max-block;
    top: $puzzleImg-max-block;
    width: $puzzleImgWH-max;
    height: $puzzleImgWH-max;
    z-index: 99;
  }
}
@keyframes puzzle-img-jump-in-max {
  0%{
    width: $puzzleImgWH-max * 3;
    height: $puzzleImgWH-max * 3;
    z-index: 99;
    right: ($puzzleImg-max-block + $puzzleImgWH-max / 2) - ($puzzleImgWH-max * 3 / 2);
    top: ($puzzleImg-max-block + $puzzleImgWH-max / 2) - ($puzzleImgWH-max * 3 / 2);
  }
  100%{
    right: $puzzleImg-max-block;
    top: $puzzleImg-max-block;
    width: $puzzleImgWH-max;
    height: $puzzleImgWH-max;
    z-index: 99;
  }
}
@-moz-keyframes puzzle-img-jump-in-1500 {
  0%{
    width: $puzzleImgWH-1500 * 3;
    height: $puzzleImgWH-1500 * 3;
    z-index: 99;
    right: ($puzzleImg-1500-block + $puzzleImgWH-1500 / 2) - ($puzzleImgWH-1500 * 3 / 2);
    top: ($puzzleImg-1500-block + $puzzleImgWH-1500 / 2) - ($puzzleImgWH-1500 * 3 / 2);
  }
  100%{
    right: $puzzleImg-1500-block;
    top: $puzzleImg-1500-block;
    width: $puzzleImgWH-1500;
    height: $puzzleImgWH-1500;
    z-index: 99;
  }
}
@-webkit-keyframes puzzle-img-jump-in-1500 {
  0%{
    width: $puzzleImgWH-1500 * 3;
    height: $puzzleImgWH-1500 * 3;
    z-index: 99;
    right: ($puzzleImg-1500-block + $puzzleImgWH-1500 / 2) - ($puzzleImgWH-1500 * 3 / 2);
    top: ($puzzleImg-1500-block + $puzzleImgWH-1500 / 2) - ($puzzleImgWH-1500 * 3 / 2);
  }
  100%{
    right: $puzzleImg-1500-block;
    top: $puzzleImg-1500-block;
    width: $puzzleImgWH-1500;
    height: $puzzleImgWH-1500;
    z-index: 99;
  }
}
@keyframes puzzle-img-jump-in-1500 {
  0%{
    width: $puzzleImgWH-1500 * 3;
    height: $puzzleImgWH-1500 * 3;
    z-index: 99;
    right: ($puzzleImg-1500-block + $puzzleImgWH-1500 / 2) - ($puzzleImgWH-1500 * 3 / 2);
    top: ($puzzleImg-1500-block + $puzzleImgWH-1500 / 2) - ($puzzleImgWH-1500 * 3 / 2);
  }
  100%{
    right: $puzzleImg-1500-block;
    top: $puzzleImg-1500-block;
    width: $puzzleImgWH-1500;
    height: $puzzleImgWH-1500;
    z-index: 99;
  }
}
@-moz-keyframes puzzle-img-jump-in-1200 {
  0%{
    width: $puzzleImgWH-1200 * 3;
    height: $puzzleImgWH-1200 * 3;
    z-index: 99;
    right: ($puzzleImg-1200-block + $puzzleImgWH-1200 / 2) - ($puzzleImgWH-1200 * 3 / 2);
    top: ($puzzleImg-1200-block + $puzzleImgWH-1200 / 2) - ($puzzleImgWH-1200 * 3 / 2);
  }
  100%{
    right: $puzzleImg-1200-block;
    top: $puzzleImg-1200-block;
    width: $puzzleImgWH-1200;
    height: $puzzleImgWH-1200;
    z-index: 99;
  }
}
@-webkit-keyframes puzzle-img-jump-in-1200 {
  0%{
    width: $puzzleImgWH-1200 * 3;
    height: $puzzleImgWH-1200 * 3;
    z-index: 99;
    right: ($puzzleImg-1200-block + $puzzleImgWH-1200 / 2) - ($puzzleImgWH-1200 * 3 / 2);
    top: ($puzzleImg-1200-block + $puzzleImgWH-1200 / 2) - ($puzzleImgWH-1200 * 3 / 2);
  }
  100%{
    right: $puzzleImg-1200-block;
    top: $puzzleImg-1200-block;
    width: $puzzleImgWH-1200;
    height: $puzzleImgWH-1200;
    z-index: 99;
  }
}
@keyframes puzzle-img-jump-in-1200 {
  0%{
    width: $puzzleImgWH-1200 * 3;
    height: $puzzleImgWH-1200 * 3;
    z-index: 99;
    right: ($puzzleImg-1200-block + $puzzleImgWH-1200 / 2) - ($puzzleImgWH-1200 * 3 / 2);
    top: ($puzzleImg-1200-block + $puzzleImgWH-1200 / 2) - ($puzzleImgWH-1200 * 3 / 2);
  }
  100%{
    right: $puzzleImg-1200-block;
    top: $puzzleImg-1200-block;
    width: $puzzleImgWH-1200;
    height: $puzzleImgWH-1200;
    z-index: 99;
  }
}
@-moz-keyframes puzzle-img-jump-in-portrait {
  0%{
    width: $puzzleImgWH-portrait * 1.5;
    height: $puzzleImgWH-portrait * 1.5;
    z-index: 99;
    right: ($puzzleImg-portrait-block + $puzzleImgWH-portrait / 2) - ($puzzleImgWH-portrait * 1.5 / 2);
    top: ($puzzleImg-portrait-block + $puzzleImgWH-portrait / 2) - ($puzzleImgWH-portrait * 1.5 / 2);
  }
  100%{
    right: $puzzleImg-portrait-block;
    top: $puzzleImg-portrait-block;
    width: $puzzleImgWH-portrait;
    height: $puzzleImgWH-portrait;
    z-index: 99;
  }
}
@-webkit-keyframes puzzle-img-jump-in-portrait {
  0%{
    width: $puzzleImgWH-portrait * 1.5;
    height: $puzzleImgWH-portrait * 1.5;
    z-index: 99;
    right: ($puzzleImg-portrait-block + $puzzleImgWH-portrait / 2) - ($puzzleImgWH-portrait * 1.5 / 2);
    top: ($puzzleImg-portrait-block + $puzzleImgWH-portrait / 2) - ($puzzleImgWH-portrait * 1.5 / 2);
  }
  100%{
    right: $puzzleImg-portrait-block;
    top: $puzzleImg-portrait-block;
    width: $puzzleImgWH-portrait;
    height: $puzzleImgWH-portrait;
    z-index: 99;
  }
}
@keyframes puzzle-img-jump-in-portrait {
  0%{
    width: $puzzleImgWH-portrait * 1.5;
    height: $puzzleImgWH-portrait * 1.5;
    z-index: 99;
    right: ($puzzleImg-portrait-block + $puzzleImgWH-portrait / 2) - ($puzzleImgWH-portrait * 1.5 / 2);
    top: ($puzzleImg-portrait-block + $puzzleImgWH-portrait / 2) - ($puzzleImgWH-portrait * 1.5 / 2);
  }
  100%{
    right: $puzzleImg-portrait-block;
    top: $puzzleImg-portrait-block;
    width: $puzzleImgWH-portrait;
    height: $puzzleImgWH-portrait;
    z-index: 99;
  }
}
@-moz-keyframes puzzle-complete-container-left {
  0%{
    z-index: $zIndex-block + 2;
  }
  100%{
    z-index: $zIndex-block;
  }
}
@-webkit-keyframes puzzle-complete-container-left {
  0%{
    z-index: $zIndex-block + 2;
  }
  100%{
    z-index: $zIndex-block;
  }
}
@keyframes puzzle-complete-container-left {
  0%{
    z-index: $zIndex-block + 2;
  }
  100%{
    z-index: $zIndex-block;
  }
}
@-moz-keyframes puzzle-hide-bar {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@-webkit-keyframes puzzle-hide-bar {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes puzzle-hide-bar {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}