@charset "utf-8";

.btn-start{
  display: inline-block;
  position: relative;
  @extend .ic-index-start-btn;
  padding: 69px 90px;
  cursor: pointer;
  &:before{
    display: inline-block;
    position: absolute;
    top: 37px;
    right: 42px;
    content: 'START';
    color: $color-index-btn-start;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
  }
}

.btn-next{
  display: inline-block;
  position: relative;
  @extend .ic-btn-next-1;
  padding: 110px 156px;
  cursor: pointer;
  &:before{
    display: inline-block;
    position: absolute;
    top: 59px;
    left: 130px;
    content: 'NEXT';
    color: $color-btn-next;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
  }
}

.btn-previous{
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-bottom: 30px;

  &:before{
    display: inline-block;
    content: '← previous\A step';
    white-space: pre;
    text-align: right;
    font-size: 18px;
    font-weight: $fontWeight-Regular;
    line-height: 22px;
    color: $color-btn-previous;
  }
}

.btn-previous-phone{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 7.5px;
  cursor: pointer;
  @extend .ic-btn-arrow-gray;
}

.btn-survey{
  display: inline-block;
  position: relative;
  @extend .ic-btn-survey;
  padding: 110px 150px;
  cursor: pointer;
  &:before{
    display: inline-block;
    position: absolute;
    top: 82px;
    left: 110px;
    content: '填寫\A問卷';
    color: $color-btn-next;
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
    white-space: pre-line;
  }
}

.btn-again{
  display: inline-block;
  position: relative;
  @extend .ic-btn-again-2x;
  padding: 92px 150px;
  cursor: pointer;
  &:before{
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 86px;
    content: '再設計一支';
    color: $color-btn-next;
    font-size: 28px;
    font-weight: bold;
    line-height: unset;
    white-space: pre-line;
  }
}

.btn-cancel-select{
  display: inline-block;
  @extend .ic-btn-cross;
  padding: 8px;
  cursor: pointer;
}