$time-carousel-duration: 20s;   // 15 / 10(%) = 1.5s
$time-carousel-wait: 1s;
$time-carousel-function: ease; //cubic-bezier(0, 1, 1, 1.07)
.c-carousel-container{
  position: relative;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;

  img{
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  .c-carousel-info{
    position: relative;
    width: 100%;
    margin: 0 -1%;

    .c-carousel-item{
      display: inline-block;
      position: relative;
      width: 34%;

      img{
        width: 100%;
      }

      &:nth-child(1){
        -webkit-animation: a-carousel-item-1 $time-carousel-duration $time-carousel-wait $time-carousel-function infinite;
        -o-animation: a-carousel-item-1 $time-carousel-duration $time-carousel-wait $time-carousel-function infinite;
        animation: a-carousel-item-1 $time-carousel-duration $time-carousel-wait $time-carousel-function infinite;
      }
      &:nth-child(2){
        -webkit-animation: a-carousel-item-2 $time-carousel-duration $time-carousel-wait $time-carousel-function infinite;
        -o-animation: a-carousel-item-2 $time-carousel-duration $time-carousel-wait $time-carousel-function infinite;
        animation: a-carousel-item-2 $time-carousel-duration $time-carousel-wait $time-carousel-function infinite;
      }
      &:nth-child(3){
        -webkit-animation: a-carousel-item-3 $time-carousel-duration $time-carousel-wait $time-carousel-function infinite;
        -o-animation: a-carousel-item-3 $time-carousel-duration $time-carousel-wait $time-carousel-function infinite;
        animation: a-carousel-item-3 $time-carousel-duration $time-carousel-wait $time-carousel-function infinite;
      }
      &:nth-child(4){
        -webkit-animation: a-carousel-item-4 $time-carousel-duration $time-carousel-wait $time-carousel-function infinite;
        -o-animation: a-carousel-item-4 $time-carousel-duration $time-carousel-wait $time-carousel-function infinite;
        animation: a-carousel-item-4 $time-carousel-duration $time-carousel-wait $time-carousel-function infinite;
      }
      &:nth-child(5){
        -webkit-animation: a-carousel-item-5 $time-carousel-duration $time-carousel-wait $time-carousel-function infinite;
        -o-animation: a-carousel-item-5 $time-carousel-duration $time-carousel-wait $time-carousel-function infinite;
        animation: a-carousel-item-5 $time-carousel-duration $time-carousel-wait $time-carousel-function infinite;
      }
    }
  }
}