.eva-star-list{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;

  li{
    display: inline-block;
    padding: 15px;
    @extend .ic-star-gray;

    &:nth-child(n+1){
      margin-left: 0;
    }
  }

  &[data-evaNum=m]{
    li:nth-child(n){
      @extend .ic-star;
    }
  }

  &[data-evaNum="5"]{
    li:nth-child(-n+5){
      @extend .ic-star;
    }
  }
  &[data-evaNum="4"]{
    li:nth-child(-n+4){
      @extend .ic-star;
    }
  }
  &[data-evaNum="3"]{
    li:nth-child(-n+3){
      @extend .ic-star;
    }
  }&[data-evaNum="2"]{
     li:nth-child(-n+2){
       @extend .ic-star;
     }
   }
  &[data-evaNum="1"]{
    li:nth-child(-n+1){
      @extend .ic-star;
    }
  }
}