.ic-index-title{
  background: url(../images/logotype.svg) center/contain no-repeat;
}

/* Button*/
.ic-index-start-btn{
  background: url(../images/start_button.png) center/contain no-repeat;
}
.ic-btn-next-1{
  background: url(../images/next_button_01.png) center/contain no-repeat;
}
.ic-btn-next-2{
  background: url(../images/next_button_02.png) center/contain no-repeat;
}
.ic-btn-cross{
  background: url(../images/cross.svg) center/contain no-repeat;
}
.ic-btn-arrow{
  background: url(../images/arrow.svg) center/contain no-repeat;
}
.ic-btn-arrow-gray{
  background: url(../images/arrow_gray.svg) center/contain no-repeat;
}
.ic-btn-survey{
  background: url(../images/survey_button.png) center/contain no-repeat;
}
.ic-btn-again{
  background: url(../images/again_button.png) center/contain no-repeat;
}
.ic-btn-again-2x{
  background: url(../images/again_button@2x.png) center/contain no-repeat;
}
.ic-btn-swipe-arrow{
  background: url(../images/ic_swipe_arrow.svg) center/contain no-repeat;
}
.ic-btn-swipe-dot{
  background: url(../images/ic_swipe_point.svg) center/contain no-repeat;
}

/* Bg */
// pc
.ic-bg-index-pc-leftTop{
  background: url(../images/BG_start_PC_lefttop.png) 0 0/contain no-repeat;
}
.ic-bg-index-pc-rightTop{
  background: url(../images/BG_start_PC_righttop.png) 100% 0/contain no-repeat;
}
.ic-bg-main-pc-left{
  background: url(../images/BG_shared_PC_left.png) 0 0/contain no-repeat;
}
.ic-bg-main-pc-right{
  background: url(../images/BG_shared_PC_right.png) 100% 0/contain no-repeat;
}
.ic-bg-fin-pc-left{
  background: url(../images/BG_fin_PC_leftbottom.png) 0 0/contain no-repeat;
}
.ic-bg-fin-pc-right{
  background: url(../images/BG_fin_PC_righttop.png) 100% 0/contain no-repeat;
}
.ic-bg-fin-pc-middle{
  background: url(../images/BG_fin_PC_middle.png) 0 0/contain no-repeat;
}
.ic-bg-thanks-pc-leftTop{
  background: url(../images/BG_appreciation_PC_top.png) 0 0/contain no-repeat;
}
.ic-bg-handle-display-img{
  background: url(../images/BG_handle.png) center/contain no-repeat;
}
.ic-bg-material-display-mt1{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M01.png") center/contain no-repeat;
}
.ic-bg-material-display-mt2{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M02.png") center/contain no-repeat;
}
.ic-bg-material-display-mt3{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M03.png") center/contain no-repeat;
}
.ic-bg-material-display-mt4{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M04.png") center/contain no-repeat;
}
.ic-bg-material-display-mt5{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M05.png") center/contain no-repeat;
}
.ic-bg-material-display-mt6{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M06.png") center/contain no-repeat;
}
.ic-bg-material-display-mt7{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M07.png") center/contain no-repeat;
}
.ic-bg-material-display-mt8{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M08.png") center/contain no-repeat;
}
.ic-bg-material-display-mt9{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M09.png") center/contain no-repeat;
}
.ic-bg-material-display-mt10{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M10.png") center/contain no-repeat;
}
.ic-bg-material-display-mt11{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M11.png") center/contain no-repeat;
}
.ic-bg-material-display-mt12{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M12.png") center/contain no-repeat;
}
.ic-bg-material-display-mt13{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M13.png") center/contain no-repeat;
}
.ic-bg-material-display-mt14{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M14.png") center/contain no-repeat;
}
.ic-bg-material-display-mt15{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M15.png") center/contain no-repeat;
}
.ic-bg-material-display-mt16{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M16.png") center/contain no-repeat;
}
.ic-bg-material-display-mt17{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M17.png") center/contain no-repeat;
}
.ic-bg-material-display-mt18{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M18.png") center/contain no-repeat;
}

// portrait
.ic-bg-index-portrait-leftTop{
  background: url(../images/BG_start_fin_mobile_lefttop.png) 0 0/contain no-repeat;
}
.ic-bg-index-portrait-rightTop{
  background: url(../images/BG_start_fin_mobile_righttop.png) 100% 0/contain no-repeat;
}
.ic-bg-index-portrait-left{
  background: url(../images/BG_shared_mobile_left.png) 0 0/contain no-repeat;
}
.ic-bg-index-portrait-right{
  background: url(../images/BG_start_mobile_rightmiddle.png) 100% 0/contain no-repeat;
}
.ic-bg-common-portrait-rightTop{
  background: url(../images/BG_shared_mobile_righttop.png) 100% 0/contain no-repeat;
}

// step icon
.ic-step-1{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/step/step_01.png") center/contain no-repeat;
}
.ic-step-2{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/step/step_02.png") center/contain no-repeat;
}
.ic-step-3{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/step/step_03.png") center/contain no-repeat;
}
.ic-step-4{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/step/step_04.png") center/contain no-repeat;
}

/* select item */
// feature item
.ic-feature-item-hover-bg{
  background: url(../images/select_BG.svg) center/contain no-repeat;
}
.ic-feature-item-1{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_feature/ic_feature_01.svg") center/contain no-repeat;
}
.ic-feature-item-2{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_feature/ic_feature_02.svg") center/contain no-repeat;
}
.ic-feature-item-3{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_feature/ic_feature_03.svg") center/contain no-repeat;
}
.ic-feature-item-4{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_feature/ic_feature_04.svg") center/contain no-repeat;
}
.ic-feature-item-5{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_feature/ic_feature_05.svg") center/contain no-repeat;
}
.ic-feature-item-6{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_feature/ic_feature_06.svg") center/contain no-repeat;
}
// makeup item
/**
*   Change the img url's class ".ic-makeup-item-portrait-1 ~ .ic-makeup-item-portrait-4", go directly to scss "_page-select-makeup".
*/
.ic-makeup-item-1{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_makeup/makeup_01.png") center/contain no-repeat;
}
.ic-makeup-item-2{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_makeup/makeup_02.png") center/contain no-repeat;
}
.ic-makeup-item-3{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_makeup/makeup_03.png") center/contain no-repeat;
}
.ic-makeup-item-4{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_makeup/makeup_04.png") center/contain no-repeat;
}
.ic-makeup-item-portrait-1{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_makeup/makeup_01_mobile.png") center/contain no-repeat;
}
.ic-makeup-item-portrait-2{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_makeup/makeup_02_mobile.png") center/contain no-repeat;
}
.ic-makeup-item-portrait-3{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_makeup/makeup_03_mobile.png") center/contain no-repeat;
}
.ic-makeup-item-portrait-4{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_makeup/makeup_04_mobile.png") center/contain no-repeat;
}
// brush item
.ic-brush-item-1{
  background: url(../images/brush/brush_01.png) center/contain no-repeat;
}
.ic-brush-item-2{
  background: url(../images/brush/brush_02.png) center/contain no-repeat;
}
.ic-brush-item-3{
  background: url(../images/brush/brush_03.png) center/contain no-repeat;
}
.ic-brush-item-4{
  background: url(../images/brush/brush_04.png) center/contain no-repeat;
}
.ic-brush-item-5{
  background: url(../images/brush/brush_05.png) center/contain no-repeat;
}
.ic-brush-item-6{
  background: url(../images/brush/brush_06.png) center/contain no-repeat;
}
.ic-brush-item-7{
  background: url(../images/brush/brush_07.png) center/contain no-repeat;
}
// trait item
.ic-trait-item-1{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_trait/ic_trait_01.svg") center/contain no-repeat;
}
.ic-trait-item-2{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_trait/ic_trait_02.svg") center/contain no-repeat;
}
.ic-trait-item-3{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_trait/ic_trait_03.svg") center/contain no-repeat;
}
// handle item
.ic-handle-item-1{
  background: url(../images/handle/handle_01.png) center/contain no-repeat;
}
.ic-handle-item-2{
  background: url(../images/handle/handle_02.png) center/contain no-repeat;
}
.ic-handle-item-3{
  background: url(../images/handle/handle_03.png) center/contain no-repeat;
}
.ic-handle-item-4{
  background: url(../images/handle/handle_04.png) center/contain no-repeat;
}
.ic-handle-item-5{
  background: url(../images/handle/handle_05.png) center/contain no-repeat;
}
.ic-handle-item-6{
  background: url(../images/handle/handle_06.png) center/contain no-repeat;
}
.ic-handle-item-7{
  background: url(../images/handle/handle_07.png) center/contain no-repeat;
}
.ic-handle-item-8{
  background: url(../images/handle/handle_08.png) center/contain no-repeat;
}
.ic-handle-item-9{
  background: url(../images/handle/handle_09.png) center/contain no-repeat;
}
.ic-handle-item-10{
  background: url(../images/handle/handle_10.png) center/contain no-repeat;
}
.ic-handle-item-11{
  background: url(../images/handle/handle_11.png) center/contain no-repeat;
}
.ic-handle-item-12{
  background: url(../images/handle/handle_12.png) center/contain no-repeat;
}
// handle's brush item
.ic-b-01-handle-0103-item{
  background: url(../images/handle_brush/b_01_handle_01-03.png) center/contain no-repeat;
}
.ic-b-01-handle-04-item{
  background: url(../images/handle_brush/b_01_handle_04.png) center/contain no-repeat;
}
.ic-b-01-handle-0507-item{
  background: url(../images/handle_brush/b_01_handle_05-07.png) center/contain no-repeat;
}
.ic-b-01-handle-0812-item{
  background: url(../images/handle_brush/b_01_handle_08-12.png) center/contain no-repeat;
}
// select material
.ic-material-item-1{
  background: url(../images/material/material_01.png) center/contain no-repeat;
}
.ic-material-item-2{
  background: url(../images/material/material_02.png) center/contain no-repeat;
}
.ic-material-item-3{
  background: url(../images/material/material_03.png) center/contain no-repeat;
}
.ic-material-item-4{
  background: url(../images/material/material_04.png) center/contain no-repeat;
}
.ic-material-item-5{
  background: url(../images/material/material_05.png) center/contain no-repeat;
}
.ic-material-item-6{
  background: url(../images/material/material_06.png) center/contain no-repeat;
}
.ic-material-item-7{
  background: url(../images/material/material_07.png) center/contain no-repeat;
}
.ic-material-item-8{
  background: url(../images/material/material_08.png) center/contain no-repeat;
}
.ic-material-item-9{
  background: url(../images/material/material_09.png) center/contain no-repeat;
}
.ic-material-item-10{
  background: url(../images/material/material_10.png) center/contain no-repeat;
}
.ic-material-item-11{
  background: url(../images/material/material_11.png) center/contain no-repeat;
}
.ic-material-item-12{
  background: url(../images/material/material_12.png) center/contain no-repeat;
}
.ic-material-item-13{
  background: url(../images/material/material_13.png) center/contain no-repeat;
}
.ic-material-item-14{
  background: url(../images/material/material_14.png) center/contain no-repeat;
}
.ic-material-item-15{
  background: url(../images/material/material_15.png) center/contain no-repeat;
}
.ic-material-item-16{
  background: url(../images/material/material_16.png) center/contain no-repeat;
}
.ic-material-item-17{
  background: url(../images/material/material_17.png) center/contain no-repeat;
}
.ic-material-item-18{
  background: url(../images/material/material_18.png) center/contain no-repeat;
}
// select  handle of material
.ic-h-01-material-01{
  background: url(../images/material_handle/H01M01.png) center/contain no-repeat;
}
.ic-h-01-material-02{
  background: url(../images/material_handle/H01M02.png) center/contain no-repeat;
}
.ic-h-01-material-03{
  background: url(../images/material_handle/H01M03.png) center/contain no-repeat;
}
.ic-h-01-material-04{
  background: url(../images/material_handle/H01M04.png) center/contain no-repeat;
}
.ic-h-01-material-05{
  background: url(../images/material_handle/H01M05.png) center/contain no-repeat;
}
.ic-h-01-material-06{
  background: url(../images/material_handle/H01M06.png) center/contain no-repeat;
}
.ic-h-01-material-07{
  background: url(../images/material_handle/H01M07.png) center/contain no-repeat;
}
.ic-h-01-material-08{
  background: url(../images/material_handle/H01M08.png) center/contain no-repeat;
}
.ic-h-01-material-09{
  background: url(../images/material_handle/H01M09.png) center/contain no-repeat;
}
.ic-h-01-material-10{
  background: url(../images/material_handle/H01M10.png) center/contain no-repeat;
}
.ic-h-01-material-11{
  background: url(../images/material_handle/H01M11.png) center/contain no-repeat;
}
.ic-h-01-material-12{
  background: url(../images/material_handle/H01M12.png) center/contain no-repeat;
}
.ic-h-01-material-13{
  background: url(../images/material_handle/H01M13.png) center/contain no-repeat;
}
.ic-h-01-material-14{
  background: url(../images/material_handle/H01M14.png) center/contain no-repeat;
}
.ic-h-01-material-15{
  background: url(../images/material_handle/H01M15.png) center/contain no-repeat;
}
.ic-h-01-material-16{
  background: url(../images/material_handle/H01M16.png) center/contain no-repeat;
}
.ic-h-01-material-17{
  background: url(../images/material_handle/H01M17.png) center/contain no-repeat;
}
.ic-h-01-material-18{
  background: url(../images/material_handle/H01M18.png) center/contain no-repeat;
}

.ic-b-02-handle-0103-item{
  background: url(../images/b_02_handle_01-03.png) center/contain no-repeat;
}
.ic-b-02-handle-04-item{
  background: url(../images/b_02_handle_04.png) center/contain no-repeat;
}
.ic-b-02-handle-0507-item{
  background: url(../images/b_02_handle_05-07.png) center/contain no-repeat;
}
.ic-b-02-handle-0812-item{
  background: url(../images/b_02_handle_08-12.png) center/contain no-repeat;
}

.ic-b-03-handle-0103-item{
  background: url(../images/b_03_handle_01-03.png) center/contain no-repeat;
}
.ic-b-03-handle-04-item{
  background: url(../images/b_03_handle_04.png) center/contain no-repeat;
}
.ic-b-03-handle-0507-item{
  background: url(../images/b_03_handle_05-07.png) center/contain no-repeat;
}
.ic-b-03-handle-0812-item{
  background: url(../images/b_03_handle_08-12.png) center/contain no-repeat;
}

.ic-b-04-handle-0103-item{
  background: url(../images/b_04_handle_01-03.png) center/contain no-repeat;
}
.ic-b-04-handle-04-item{
  background: url(../images/b_04_handle_04.png) center/contain no-repeat;
}
.ic-b-04-handle-0507-item{
  background: url(../images/b_04_handle_05-07.png) center/contain no-repeat;
}
.ic-b-04-handle-0812-item{
  background: url(../images/b_04_handle_08-12.png) center/contain no-repeat;
}

.ic-b-05-handle-0103-item{
  background: url(../images/b_05_handle_01-03.png) center/contain no-repeat;
}
.ic-b-05-handle-04-item{
  background: url(../images/b_05_handle_04.png) center/contain no-repeat;
}
.ic-b-05-handle-0507-item{
  background: url(../images/b_05_handle_05-07.png) center/contain no-repeat;
}
.ic-b-05-handle-0812-item{
  background: url(../images/b_05_handle_08-12.png) center/contain no-repeat;
}

.ic-b-06-handle-0103-item{
  background: url(../images/b_06_handle_01-03.png) center/contain no-repeat;
}
.ic-b-06-handle-04-item{
  background: url(../images/b_06_handle_04.png) center/contain no-repeat;
}
.ic-b-06-handle-0507-item{
  background: url(../images/b_06_handle_05-07.png) center/contain no-repeat;
}
.ic-b-06-handle-0812-item{
  background: url(../images/b_06_handle_08-12.png) center/contain no-repeat;
}

.ic-b-07-handle-0103-item{
  background: url(../images/b_07_handle_01-03.png) center/contain no-repeat;
}
.ic-b-07-handle-04-item{
  background: url(../images/b_07_handle_04.png) center/contain no-repeat;
}
.ic-b-07-handle-0507-item{
  background: url(../images/b_07_handle_05-07.png) center/contain no-repeat;
}
.ic-b-07-handle-0812-item{
  background: url(../images/b_07_handle_08-12.png) center/contain no-repeat;
}


// evaluation star
.ic-star{
  background: url(../images/star.png) center/contain no-repeat;
}
.ic-star-gray{
  background: url(../images/star_gray.png) center/contain no-repeat;
}

// carousel image [test]
.ic-carousel-pic-1{
  background: url(../images/B1_M01H01.png) center/contain no-repeat;
}
.ic-carousel-pic-2{
  background: url(../images/B1_M02H01.png) center/contain no-repeat;
}
.ic-carousel-pic-3{
  background: url(../images/B1_M03H01.png) center/contain no-repeat;
}
.ic-carousel-pic-4{
  background: url(../images/B1_M04H01.png) center/contain no-repeat;
}
.ic-carousel-pic-5{
  background: url(../images/B1_M01H01.png) center/contain no-repeat;
}

// Dialog
.ic-news-pic{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/news/foundation_brush.png") center/contain no-repeat;
}
.ic-news-pic-portrait{
  background: url("https://storage.googleapis.com/brush-by-you.appspot.com/news/foundation_brush_mobile.png") center/contain no-repeat;
}