.swipe-dots-list{
  display: flex;
  justify-content: center;

  .btn-dot, .btn-dot-prev, .btn-dot-next{
    display: inline-block;
    padding: 3.5px;
  }

  .btn-dot-prev, .btn-dot-next{
    opacity: 0;
    padding: 5px;
    &.enabled{
      opacity: 1;
    }
  }

  .btn-dot{
    @extend .ic-btn-swipe-dot;
    margin: 0 5px;
    opacity: 0.3;

    &.selected{
      opacity: 1;
    }
  }
  .btn-dot-prev{
    @extend .ic-btn-swipe-arrow;
    transform: rotateY(180deg);
    margin-right: 30px;
  }
  .btn-dot-next{
    @extend .ic-btn-swipe-arrow;
    margin-left: 30px;
  }
}