mixin evaluation-star-list(evaNum)
    ul.list-unstyled.eva-star-list(data-evaNum=evaNum)
        -for(var i=0; i<5; i++)
            li

mixin common-script
    script(src="js/api.js")
    script(src="js/main.js")

mixin import-plugin-css(...styles)
    each css in styles
        case css
            when "slick"
                link(href="vendors/slick-carousel/slick/slick.css" rel="stylesheet")
            when "slick-theme"
                link(href="vendors/slick-carousel/slick/slick-theme.css" rel="stylesheet")

mixin import-plugin-script(script)
    case script
        when "dialog"
            script(src="js/dialog.js")
        when "jquery-touchswipe"
            script(src="vendors/jquery-touchswipe/jquery.touchSwipe.min.js")
        when "slick-carousel"
            script(src="vendors/slick-carousel/slick/slick.min.js")

mixin import-script(currentScript, ...pluginScript)
    // Plugin scripts
    each script in pluginScript
        +import-plugin-script(script)

    // Common scripts
    +common-script

    case currentScript
        when "index"
            script(src="js/index.js")
        when "select_feature"
            script(src="js/select_feature.js")
        when "select_makeup"
            script(src="js/select_makeup.js")
        when "select_brush"
            script(src="js/select_brush.js")
        when "select_trait"
            script(src="js/select_trait.js")
        when "select_handle"
            script(src="js/select_handle.js")
        when "select_material"
            script(src="js/select_material.js")
        when "complete_topic"
            script(src="js/complete_topic.js")
        when "complete_thanks"
            script(src="js/complete_thanks.js")