@charset "utf-8";

// footer bg
$color-footer-bg: #000000;
$color-footer-font: #D4D1CE;

// page index
$color-index-link-start: #E45300;
$color-index-link-about: #707070;
$color-index-about-ways: #FFE1D2;
$color-index-btn-start: #FFFFFF;
$color-index-step-subtitle: #707070;

// page select feature
$color-selectFeature-select-item-selected-bg: #E45300;
$color-selectFeature-select-item-selected-font: #FFFFFF;
$color-selectFeature-select-item-font: #000000;
$color-selectFeature-select-page-subtitle: #707070;

// page select brush
$color-selectBrush-select-title-font: #000000;
$color-selectBrush-feature-type-font: #E45300;
$color-selectBrush-makeup-count-subtitle: #E45300;
$color-selectBrush-select-description: #000000;
$color-selectBrush-swipe-item-selected-bg: #E45300;
$color-selectBrush-swipe-item-selected-font: #FFFFFF;

// button
$color-btn-next: $color-index-btn-start;
$color-btn-previous: #000000;
$color-portrait-btn-next-bg: #FFE1D2;
$color-portrait-btn-next: #000000;

// dialog
$color-dialog-container-bg: rgba(255, 255, 255, 0.7);
$color-dialog-errMsg-bg: #FFE1D2;
$color-dialog-errMsg-font: #000000;
$color-dialog-news-container-bg: #FFFFFF;
$color-dialog-news-bg: #FFE1D2;
