@charset "utf-8";

body, html{
  position: relative;
  width: 100%;
  height: auto;
}

body{
  font-family: "Segoe UI", "Microsoft JhengHei";

  &.dialog-show, &.dialog-news-show{
    overflow: hidden;
    padding-right: 17px;
  }
}

footer{
  .copyright{
    margin: 0;
    padding: 8.5px 0 8.5px 59px;
    background-color: $color-footer-bg;
    color: $color-footer-font;
    font-size: 12px;
    font-weight: $fontWeight-Regular;
    line-height: 19px;

    &:before{
      content: $string-copyright-pc;
    }
  }
}

.container-body{
  position: relative;
  min-height: 100vh;
}

$width-common-title: 130px;
$height-common-title: 42px;
.title-bar{
  position: relative;
  width: 100%;
  padding: 20px 40px 0;
  line-height: 0;

  .title-logo{
    display: inline-block;
    @extend .ic-index-title;
    width: $width-common-title;
    height: $height-common-title;
  }

  .btn-previous-phone{
    display: none;
  }
}
