@mixin transition($property, $time, $effect){
  -webkit-transition: $property $time $effect;
  -moz-transition: $property $time $effect;
  -ms-transition: $property $time $effect;
  -o-transition: $property $time $effect;
  transition: $property $time $effect;
}

@mixin transition-delay($delay){
  -webkit-transition-delay: $delay;
  -moz-transition-delay: $delay;
  -ms-transition-delay: $delay;
  -o-transition-delay: $delay;
  transition-delay: $delay;
}