/*Tablet & Pc style*/
@import "template/pc/dialog";
@import "part/pc/page-index";
@import "part/pc/page-select-feature";
@import "part/pc/page-select-makeup";
@import "part/pc/page-select-brush";
@import "part/pc/page-select-trait";
@import "part/pc/page-select-handle";
@import "part/pc/page-select-material";
@import "part/pc/page-complete-topic";
@import "part/pc/page-complete-thanks";

/* Complete img puzzle*/
@media (max-width: 1500px) {
  .page-complete-thanks{
    &.show-animation{
      .complete-img-puzzle .puzzle-img{
        &:nth-child(6){
          -webkit-animation: puzzle-img-jump-in-1500 1.5s 0s ease 1;
          -o-animation: puzzle-img-jump-in-1500 1.5s 0s ease 1;
          animation: puzzle-img-jump-in-1500 1.5s 0s ease 1;
        }
      }
    }
    &.before-animation{
      .complete-img-puzzle .puzzle-img{
        &:nth-child(6){
          width: $puzzleImgWH-1500 * 3;
          height: $puzzleImgWH-1500 * 3;
          z-index: 99;
          right: ($puzzleImg-1500-block + $puzzleImgWH-1500 / 2) - ($puzzleImgWH-1500 * 3 / 2);
          top: ($puzzleImg-1500-block + $puzzleImgWH-1500 / 2) - ($puzzleImgWH-1500 * 3 / 2);
        }
      }
    }

    .complete-img-puzzle{
      width: $puzzleImg-1500-block * 3 + $puzzleImgWH-1500;
      height: $puzzleImg-1500-block * 2 + $puzzleImgWH-1500;

      .puzzle-img{
        width: $puzzleImgWH-1500;
        height: $puzzleImgWH-1500;

        &:nth-child(-n + 12){
          top: $puzzleImg-1500-block * 2;
        }

        &:nth-child(-n + 8){
          top: $puzzleImg-1500-block;
        }

        &:nth-child(-n + 4){
          top: 0;
        }

        &:nth-child(4n + 1){
          right: 0;
        }
        &:nth-child(4n + 2){
          right: $puzzleImg-1500-block;
        }
        &:nth-child(4n + 3){
          right: $puzzleImg-1500-block * 2;
        }
        &:nth-child(4n + 4){
          right: $puzzleImg-1500-block * 3;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .page-complete-thanks{
    &.show-animation{
      .complete-img-puzzle .puzzle-img{
        &:nth-child(6){
          -webkit-animation: puzzle-img-jump-in-1200 1.5s 0s ease 1;
          -o-animation: puzzle-img-jump-in-1200 1.5s 0s ease 1;
          animation: puzzle-img-jump-in-1200 1.5s 0s ease 1;
        }
      }
    }
    &.before-animation{
      .complete-img-puzzle .puzzle-img{
        &:nth-child(6){
          width: $puzzleImgWH-1200 * 3;
          height: $puzzleImgWH-1200 * 3;
          z-index: 99;
          right: ($puzzleImg-1200-block + $puzzleImgWH-1200 / 2) - ($puzzleImgWH-1200 * 3 / 2);
          top: ($puzzleImg-1200-block + $puzzleImgWH-1200 / 2) - ($puzzleImgWH-1200 * 3 / 2);
        }
      }
    }
    .complete-img-puzzle{
      width: $puzzleImg-1200-block * 3 + $puzzleImgWH-1200;
      height: $puzzleImg-1200-block * 2 + $puzzleImgWH-1200;

      .puzzle-img{
        width: $puzzleImgWH-1200;
        height: $puzzleImgWH-1200;

        &:nth-child(-n + 12){
          top: $puzzleImg-1200-block * 2;
        }

        &:nth-child(-n + 8){
          top: $puzzleImg-1200-block;
        }

        &:nth-child(-n + 4){
          top: 0;
        }

        &:nth-child(4n + 1){
          right: 0;
        }
        &:nth-child(4n + 2){
          right: $puzzleImg-1200-block;
        }
        &:nth-child(4n + 3){
          right: $puzzleImg-1200-block * 2;
        }
        &:nth-child(4n + 4){
          right: $puzzleImg-1200-block * 3;
        }
      }
    }
  }
}

/*Phone style*/
@media (max-width: 480px){
  @import "template/portrait/dialog";
  @import "part/phone_portrait/page-index";
  @import "part/phone_portrait/page-select-feature";
  @import "part/phone_portrait/page-select-makeup";
  @import "part/phone_portrait/page-select-brush";
  @import "part/phone_portrait/page-select-trait";
  @import "part/phone_portrait/page-select-handle";
  @import "part/phone_portrait/page-select-material";
  @import "part/phone_portrait/page-complete-topic";
  @import "part/phone_portrait/page-complete-thanks";

  body{
    &.dialog-show{
      padding-right: 0;
    }

    &.dialog-news-show{
      padding-right: 0;
      //footer.fixed-bottom{
      //  position: fixed;
      //  bottom: 0;
      //  left: 0;
      //  z-index: $zIndex-dialog-news-bg + 1;
      //}
    }
    &.footer-fadeout{
      footer.fixed-bottom{
        @include transition(all, .3s, linear);
        bottom: -50%;
      }
    }
  }

  .container-body{
    padding-bottom: 58px;

    & ~ footer{
      &.fixed-bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 98;
      }

      .copyright{
        text-align: center;
        padding: 10px 15px;
        &:before{
          content: $string-copyright-portrait;
          white-space: pre;
        }
      }
    }
  }

  .title-bar{
    text-align: center;
    padding: 25px 0 10px;

    .title-logo{
      width: 113px;
      height: 28px;
    }
    .btn-previous-phone{
      display: inline-block;
      top: 31.5px;
      left: 25px;
    }
  }

  .btn-previous{
    display: none;
  }
}