@charset "utf-8";

$fontWeight-Semibold: 600;
$fontWeight-Regular: 400;

$zIndex-block: 99;
$zIndex-block-pseudo: 98;

$zIndex-bg-block: -1;

// copyright
$string-copyright-pc: "Copyright © 2019 國立臺灣科技大學設計系 董芳武研究室";
$string-copyright-portrait: "Copyright © 2019 \A 國立臺灣科技大學設計系 董芳武研究室";

// page-index
$zIndex-block-middle-cover-portrait: 50;
$zIndex-index-info: 99;
$zIndex-index-block-top-pseudo: 98;
$string-index-pc-step-subtitle: "每個人花費的時間不太一樣，整個過程需要約 3-10 分鐘";
$string-index-portrait-step-subtitle: "整個過程需要約 3-10 分鐘 \A 每個人花費的時間不太一樣";

// page-select-feature
$zIndex-selectFeature-selectItem-img: 91;
$zIndex-selectFeature-selectItem-img-bg: 90;
$string-portrait-btn-next: "開始設計刷毛";

// dialog
$zIndex-dialog-bg: 1500;
$zIndex-dialog-news-bg: 900;

// page-select-brush
$string-portrait-btn-next-brush: "開始設計刷柄";
$string-portrait-select-brush-btn-next-info-before: "選定 ";
$string-portrait-select-brush-btn-next-info-after: " 的刷毛";

// page-select-handle
$string-portrait-select-handle-btn-next-info-after: " 的刷柄";

// page-select-material
$string-portrait-select-material-btn-next-info-after: " 的材質";

// page-complete-topic
$string-pc-complete-topic-title-before: "完成了";
$string-portrait-complete-topic-title-before: "完成了";
$string-pc-complete-topic-remark: "送出前請透過問卷告訴我們你的感受";
$string-portrait-complete-topic-remark: "，送出前請透過問卷告訴我們你的感受";

// puzzle img
$puzzleImgWH-max: 240px;
$puzzleImg-max-block: $puzzleImgWH-max + 10px;
$puzzleImgWH-1500: 220px;
$puzzleImg-1500-block: $puzzleImgWH-1500 + 10px;
$puzzleImgWH-1200: 200px;
$puzzleImg-1200-block: $puzzleImgWH-1200 + 10px;
$puzzleImgWH-portrait: 160px;
$puzzleImg-portrait-block: $puzzleImgWH-portrait + 10px;