extends template/layout
include mixin/mixin

block head-plug-css

block head-plug-js

block script
    +import-script("complete_thanks", 'dialog')

block body
    .container-body.page-complete-thanks.before-animation
        .block-top
            .title-bar
                .btn-previous-phone#previousPhone
                .title-logo
            .title-info
                h3.page-title
                h6.page-subtitle
        .block-middle
            .complete-container-left
                .complete-img-puzzle
                    each puzzleImg in locals.puzzleImgList
                        .puzzle-img(style="background: url("+puzzleImg+") center/contain no-repeat;")
            .complete-container-right
                h3.complete-title= locals.captionList.title
                .complete-info!= locals.captionList.content.replace(/\n/g, '<br/>')
                .complete-btn-bar
                    a.btn-again(href=locals.indexPage)

    //-include template/dialog/news

block footer
    footer.fixed-bottom: .copyright