extends template/layout
include mixin/mixin

block head-plug-css

block head-plug-js

block script
    +import-script("complete_topic", 'dialog')

block body
    .container-body.page-complete-topic
        .block-top
            .title-bar
                .btn-previous-phone#previousPhone
                .title-logo
            .title-info
                h3.page-title
                h6.page-subtitle
        .block-middle
            .complete-container-left
                .complete-img(data-fileName=locals.currentObj.productFileName style="background: url("+locals.currentObj.productImg+") center/contain no-repeat;")#completeImg
            .complete-container-right
                h6.complete-title-before= locals.captionList.title_before
                h3.complete-title= locals.captionList.title
                .complete-info!= locals.captionList.content.replace(/\n/g, '<br/>')
                    span.complete-remark= locals.captionList.content_remark
                .complete-btn-bar
                    .btn-previous#previous(data-sNum=locals.currentObj.serial_number)
                    a.btn-survey(href="#survey")
        .block-bottom#survey
            .topic-container
                iframe(src=locals.currentObj.surveycake_url width="100%" height="100%" style="border:#ddd 1px solid;" allowtransparency="true" frameborder="0")

    //-include template/dialog/news

block footer
    footer: .copyright