extends template/layout
include mixin/mixin

block head-plug-css

block head-plug-js

block script
  +import-script("index")

block body
  .container-body.page-index
    .block-top
      .info-top
        .index-title
        .index-subtitle= locals.captionList.subtitle
        .index-content!= locals.captionList.content.replace(/\n/g, '<br/>')
      .info-bottom
        a.link-start(href="#start") 立刻開始設計
        a.link-about(href="#about") 了解 Brush by You 計畫
    .block-middle
      .c-carousel-container
        .c-carousel-info
          each carouselImg in locals.carousels
            .c-carousel-item
              img(src=carouselImg width="100%")
    .block-bottom
      .info-top
        .about-title#about 關於 Brush by You 計畫
        .about-body
          .about-content
            h3.content-title!= locals.captionList.about_title.replace(/\n/g, '<br/>')
            .content-info!= locals.captionList.about_content
          .about-ways
            h3.content-title 參與方式
            ul.content-info.list-unstyled
              each item in locals.captionList.about_list
                li= item
      .info-bottom#start
        .step-header
          h2.step-title 設計步驟
          h4.step-subtitle
        .step-body
          .step-btn.step-icon-1
          .step-btn.step-icon-2
          .step-btn.step-icon-3
          .step-btn.step-icon-4
        .step-bottom
          a(href=locals.nextPage): .btn-start

block footer
  footer: .copyright