extends template/layout
include mixin/mixin

block head-plug-css

block head-plug-js

block script
    +import-script("select_trait", 'dialog')

block body
    .container-body.page-select-trait
        .block-top
            .title-bar
                .btn-previous-phone#previousPhone
                .title-logo
            .title-info
                h3.page-title 你最重視刷柄的什麼特色
                h6.page-subtitle
        .block-middle
            .select-container
                .select-item.trait-item-1(data-num="t1")
                    .trait-img
                .select-item.trait-item-2(data-num="t2")
                    .trait-img
                .select-item.trait-item-3(data-num="t3")
                    .trait-img
        .block-bottom
            .btn-previous#previous
            .btn-next#next

    //-include template/dialog/news

block footer
    footer.fixed-bottom: .copyright