extends template/layout
include mixin/mixin

block head-plug-css

block head-plug-js

block script
    +import-script("select_handle", 'jquery-touchswipe', 'dialog')

block body
    .container-body.page-select-handle
        .block-top
            .title-bar
                .btn-previous-phone#previousPhone
                .title-logo
            .title-info
                h3.page-title 設計粉底刷的刷柄
                h6.page-subtitle
        .block-middle
            .select-container-left
                .select-img-display.show#displayImg(data-num=locals.currentObj.hType style="background: url("+locals.currentObj.displayImg+") center/contain no-repeat;")
                    .select-brush-display(style="background: url("+locals.currentObj.displayImgBrush+") center/contain no-repeat;")
                .swipe-info
                    .select-img-swipe-list#swipeList
                        each handleItem in locals.handleList
                            if (locals.currentObj.hType == handleItem.code)
                                .swipe-item.selected(data-name=handleItem.name data-brushFile=handleItem.img_brush_list[locals.currentObj.bType].fileName data-num=handleItem.code style="background: url(" + handleItem.img_url + ") center/contain no-repeat;")
                            else
                                .swipe-item(data-name=handleItem.name data-brushFile=handleItem.img_brush_list[locals.currentObj.bType].fileName data-num=handleItem.code style="background: url(" + handleItem.img_url + ") center/contain no-repeat;")
                    .swipe-select-bg
                        .btn-cancel-select
                    .swipe-select-brush.show(style="background: url("+locals.currentObj.displayImgBrush+") center/contain no-repeat;")
                    .swipe-title#swTitle= locals.currentObj.title
                    .swipe-dots-list#swipeDotList(data-max="12" data-target="1")
                        .btn-dot-prev
                        .btn-dot.selected(data-num="h1")
                        .btn-dot(data-num="h2")
                        .btn-dot(data-num="h3")
                        .btn-dot(data-num="h4")
                        .btn-dot(data-num="h5")
                        .btn-dot(data-num="h6")
                        .btn-dot-next.enabled
            .select-container-right
                .select-title#sTitle= locals.currentObj.title
                .select-evaluation#sEva
                    if (locals.mode=="feature")
                        ul.list-unstyled.trait-star-list
                            li
                                .trait-type(data-type=locals.currentObj.tType)
                                +evaluation-star-list(locals.currentObj.eva_trait_num)
                    if (locals.mode=="makeup")
                        h6.makeup-count-subtitle
                            span.makeup-type= locals.currentObj.eva_brush_people.name
                            |有
                            span.people-num= locals.currentObj.eva_brush_people.num
                            |人次設計採用這款刷毛
                .select-description#sDes= locals.currentObj.description
                .select-list
                    each handleItem in locals.handleList
                        if (locals.currentObj.hType == handleItem.code)
                            .select-item.selected(data-name=handleItem.name data-brushFile=handleItem.img_brush_list[locals.currentObj.bType].fileName data-num=handleItem.code style="background: url(" + handleItem.img_url + ") center/contain no-repeat;")
                        else
                            .select-item(data-name=handleItem.name data-brushFile=handleItem.img_brush_list[locals.currentObj.bType].fileName data-num=handleItem.code style="background: url(" + handleItem.img_url + ") center/contain no-repeat;")

        .block-bottom
            .btn-previous#previous
            .btn-next#next
                span.next-info#bsTitle= locals.currentObj.title

    //-include template/dialog/news

block footer
    footer.fixed-bottom: .copyright