extends template/layout
include mixin/mixin

block head-plug-css

block head-plug-js

block script
    +import-script("select_material", 'jquery-touchswipe', 'dialog')

block body
    .container-body.page-select-material
        .block-top
            .title-bar
                .btn-previous-phone#previousPhone
                .title-logo
            .title-info
                h3.page-title 設計粉底刷柄的質感
                h6.page-subtitle
        .block-middle
            .select-container-left
                .select-img-display.show#displayImg(data-num=locals.currentObj.mtType style="background: url("+locals.currentObj.displayImg+") center/contain no-repeat;")
                    .select-brush-display(style="background: url("+locals.currentObj.displayImgBrush+") center/contain no-repeat;")
                .swipe-info
                    .select-img-swipe-list#swipeList(data-num=locals.currentObj.mtType)
                        each mItem in locals.materialList
                            if (locals.currentObj.mtType == mItem.code)
                                .swipe-item.selected(data-name=mItem.name data-num=mItem.code style="background: url(" + mItem.img_handle_brush[locals.currentObj.hType].url + ") center/contain no-repeat;")
                            else
                                .swipe-item(data-name=mItem.name data-num=mItem.code style="background: url(" + mItem.img_handle_brush[locals.currentObj.hType].url + ") center/contain no-repeat;")

                    .swipe-select-bg
                        .btn-cancel-select
                    .swipe-select-brush.show(style="background: url("+locals.currentObj.displayImgBrush+") center/contain no-repeat;")
                    .swipe-title#swTitle= locals.currentObj.title
                    .swipe-dots-list#swipeDotList(data-max="12" data-target="1")
                        .btn-dot-prev
                        .btn-dot.selected(data-num="h1")
                        .btn-dot(data-num="h2")
                        .btn-dot(data-num="h3")
                        .btn-dot(data-num="h4")
                        .btn-dot(data-num="h5")
                        .btn-dot(data-num="h6")
                        .btn-dot-next.enabled
            .select-container-right
                .select-title#sTitle= locals.currentObj.title
                //-.select-evaluation#sEva
                //-    if (locals.mode=="feature")
                //-        ul.list-unstyled.trait-star-list
                //-            li
                //-                .trait-type.type-1
                //-                +evaluation-star-list(5)
                //-    if (locals.mode=="makeup")
                //-        h6.makeup-count-subtitle
                //-            span.makeup-type 平頂刷
                //-            |有
                //-            span.people-num 121
                //-            |人設計採用這款刷毛
                .select-description#sDes= locals.currentObj.description
                .select-list
                    each mItem in locals.materialList
                        if (locals.currentObj.mtType == mItem.code)
                            .select-item.selected(data-name=mItem.name data-num=mItem.code style="background: url(" + mItem.img_url + ") center/contain no-repeat;")
                        else
                            .select-item(data-name=mItem.name data-num=mItem.code style="background: url(" + mItem.img_url + ") center/contain no-repeat;")

        .block-bottom
            .btn-previous#previous
            .btn-next#next
                span.next-info#bsTitle= locals.currentObj.title

    //-include template/dialog/news

block footer
    footer.fixed-bottom: .copyright