extends template/layout
include mixin/mixin

block head-plug-css

block head-plug-js

block script
    +import-script("select_feature", 'dialog')

block body
    .container-body.page-select-feature
        .block-top
            .title-bar: .title-logo
            .title-info
                h3.page-title 你重視粉底刷的什麼特色
                h6.page-subtitle 請選取兩項特色
        .block-middle
            .select-container
                .select-item.feature-item-1(data-num="f1")
                    .feature-img
                .select-item.feature-item-2(data-num="f2")
                    .feature-img
                .select-item.feature-item-3(data-num="f3")
                    .feature-img
                .select-item.feature-item-4(data-num="f4")
                    .feature-img
                .select-item.feature-item-5(data-num="f5")
                    .feature-img
                .select-item.feature-item-6(data-num="f6")
                    .feature-img
        .block-bottom
            .btn-next#next

    include template/dialog/news

block footer
    footer.fixed-bottom: .copyright