extends template/layout
include mixin/mixin

block head-plug-css
    //- +import-plugin-css("slick", "slick-theme")

block head-plug-js

block script
    //- +import-script("select_brush", 'slick-carousel', 'dialog')
    +import-script("select_brush", 'jquery-touchswipe', 'dialog')

block body
    .container-body.page-select-brush
        .block-top
            .title-bar
                .btn-previous-phone#previousPhone
                .title-logo
            .title-info
                h3.page-title 設計粉底刷的刷毛
                h6.page-subtitle
        .block-middle
            .select-container-left
                .select-img-display.show#displayImg(data-num=locals.currentObj.bType style="background: url("+locals.currentObj.displayImg+") center/contain no-repeat;")
                .swipe-info
                    .select-img-swipe-list#swipeList
                        each brushItem in locals.brushList
                            if (locals.currentObj.bType == brushItem.code)
                                .swipe-item.selected(data-name=brushItem.name data-num=brushItem.code style="background: url(" + brushItem.img_url + ") center/contain no-repeat;")
                            else
                                .swipe-item(data-name=brushItem.name data-num=brushItem.code style="background: url(" + brushItem.img_url + ") center/contain no-repeat;")
                    .swipe-select-bg
                        .btn-cancel-select
                    .swipe-title#swTitle= locals.currentObj.title
                    .swipe-dots-list#swipeDotList(data-max="7" data-target="1")
                        .btn-dot-prev
                        .btn-dot.selected(data-num="b1")
                        .btn-dot(data-num="b2")
                        .btn-dot(data-num="b3")
                        .btn-dot(data-num="b4")
                        .btn-dot(data-num="b5")
                        .btn-dot(data-num="b6")
                        .btn-dot-next.enabled
            .select-container-right
                .select-title#sTitle= locals.currentObj.title
                .select-evaluation#sEva
                    if (locals.mode=="feature")
                        ul.list-unstyled.feature-star-list
                            each type in locals.currentObj.eva_feature
                                li
                                    .feature-type(data-type=type.typeName)
                                    +evaluation-star-list(type.value)
                    if (locals.mode=="makeup")
                        each type in locals.currentObj.eva_makeup
                            h6.makeup-count-subtitle(data-type=type.typeName)
                                span.makeup-type= type.value.name
                                |有
                                span.people-num= type.value.num
                                |人次設計採用這款刷毛
                .select-description#sDes= locals.currentObj.description
                .select-list
                    each brushItem in locals.brushList
                        if (locals.currentObj.bType == brushItem.code)
                            .select-item.selected(data-name=brushItem.name data-num=brushItem.code style="background: url("+brushItem.img_url+") center/contain no-repeat;")
                        else
                            .select-item(data-name=brushItem.name data-num=brushItem.code style="background: url("+brushItem.img_url+") center/contain no-repeat;")

        .block-bottom
            .btn-previous#previous
            .btn-next#next
                span.next-info#bsTitle= locals.currentObj.title

    //-include template/dialog/news

block footer
    footer.fixed-bottom: .copyright