extends template/layout
include mixin/mixin

block head-plug-css

block head-plug-js

block script
    +import-script("select_makeup", 'dialog')

block body
    .container-body.page-select-makeup
        .block-top
            .title-bar: .title-logo
            .title-info
                h3.page-title 你今天想要畫什麼樣的妝容
                h6.page-subtitle
        .block-middle
            .select-container
                .select-item.makeup-item-1(data-num="m1")
                    .makeup-img
                .select-item.makeup-item-2(data-num="m2")
                    .makeup-img
                .select-item.makeup-item-3(data-num="m3")
                    .makeup-img
                .select-item.makeup-item-4(data-num="m4")
                    .makeup-img
        .block-bottom
            .btn-next#next

    include template/dialog/news

block footer
    footer.fixed-bottom: .copyright