
.dialog-container{

}

.model-errmsg{
  .dialog-content{
    max-height: 120px;
    margin: 15px;
    padding: 15px;
  }

  .dialog-body{
    .dialog-info{
      font-size: 16px;
    }
  }

  .dialog-footer{
    .btn-dialog-confirm{
      &:before{
        font-size: 16px;
      }
    }
  }
}

.model-news{
  .dialog-content{
    max-height: 321px;
    padding: 15px;
    margin: 15px;
  }

  .dialog-body{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
  }
  .news-info, .news-img{
    width: 100%;
  }
  .news-info{
    height: 30%;

    .info-time, .info-title{
      margin: 0;
      text-align: center;
    }
    .info-time{
      font-size: 16px;
      line-height: 30px;
    }
    .info-title{
      font-size: 22px;
      line-height: 30px;
    }
  }
  .news-img{
    height: 70%;
    background: url("https://storage.googleapis.com/brush-by-you.appspot.com/news/foundation_brush_mobile.png") center/contain no-repeat;
  }

}