.page-select-makeup{
  .select-container{

    .select-item{
      width: 90%;
      padding: 24px 24px 5px;

      &:nth-child(2n-1){
        margin: 0 5%;
      }
      &:nth-child(2n){
        margin: 0 5%;
      }

      &:after{
        font-size: 14px;
        letter-spacing: 0.4px;
        line-height: 21px;
      }

      .makeup-img{
        padding: 72px;
      }

      &.makeup-item-1{
        .makeup-img:after{
          background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_makeup/makeup_01_mobile.png") center/contain no-repeat;
        }
      }
      &.makeup-item-2{
        .makeup-img:after{
          background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_makeup/makeup_02_mobile.png") center/contain no-repeat;
        }
      }
      &.makeup-item-3{
        .makeup-img:after{
          background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_makeup/makeup_03_mobile.png") center/contain no-repeat;
        }
      }
      &.makeup-item-4{
        .makeup-img:after{
          background: url("https://storage.googleapis.com/brush-by-you.appspot.com/select_makeup/makeup_04_mobile.png") center/contain no-repeat;
        }
      }
    }
  }
}