$width-index-mobile-title: 176px;
$height-index-mobile-title: 42px;
$page-index-portrait-paddingTop: 42.5vh;
.page-index{
  padding-top: $page-index-portrait-paddingTop;
  .block-top{
    position: relative;
    margin-bottom: 81px;
    &:before{
      background: url(../images/BG_start_fin_mobile_lefttop.png) 0 0/contain no-repeat;
    }
    &:after{
      background: url(../images/BG_start_fin_mobile_righttop.png) 100% 0/contain no-repeat;
    }
    &:before, &:after{
      top: -18vh;
    }
    .info-bottom{
      justify-content: center;
      flex-direction: column;
      margin-top: 43px;
      a{
        margin: 0 30px;
      }
    }
  }

  .block-middle{
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    height: $page-index-portrait-paddingTop;

    &:before{
      display: block;
      position: absolute;
      bottom: 0;
      content: '';
      width: 100%;
      height: 80px;
      background: linear-gradient(-180deg,rgba(255,255,255,0) 0%,#fff 70%);
      z-index: $zIndex-block-middle-cover-portrait;
    }
  }

  .block-bottom{
    .info-top{
      padding: 0 10%;
      margin-bottom: 87px;
      .about-body{
        display: block;
        width: 100%;
      }
      .about-content, .about-ways{
        width: 100%;
      }
      .about-content{
        padding-right: 0;
        margin-bottom: 39px;
      }
      .about-ways{
        padding: 32px 23px;
      }
    }

    .info-bottom{
      .step-header{
        text-align: center;
        margin-bottom: 60px;
      }
      .step-body{
        display: block;
        text-align: center;
        margin-bottom: 58px;
      }
      .step-bottom{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 25px;
      }
    }

    &:before, &:after{
      width: 50%;
      height: 20%;
    }
    &:before{
      top: 50%;
      left: 0;
      background: url(../images/BG_shared_mobile_left.png) 0 0/contain no-repeat;
    }
    &:after{
      top: 15%;
      right: 0;
      background: url(../images/BG_start_mobile_rightmiddle.png) 100% 0/contain no-repeat;
    }
  }

  .index-title{
    width: $width-index-mobile-title;
    height: $height-index-mobile-title;
  }
  .index-subtitle{
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 24px;
  }
  .index-content{
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 23px;
  }
  .index-subtitle, .index-content{
    margin: 25px 0 0;
  }

  .link-start{
    font-size: 18px;
    letter-spacing: 0.45px;
    line-height: 43px;
    align-self: center;
  }
  .link-about{
    font-size: 16px;
    letter-spacing: 0.4px;
    align-self: center;
    line-height: 23px;
  }

  .about-title{
    font-size: 20px;
    letter-spacing: 0.5px;
    margin: 0 0 49px;
  }
  .about-content{
    .content-title{
      font-size: 16px;
      letter-spacing: 0.4px;
      line-height: 23px;
      margin-bottom: 29px;
      text-align: center;
    }
    .content-info{
      font-size: 16px;
      letter-spacing: 0.4px;
      line-height: 23px;
    }
  }
  .about-ways{
    .content-title{
      font-size: 18px;
      letter-spacing: 0.45px;
      line-height: 43px;
      margin-bottom: 25px;
    }
    .content-info{
      font-size: 16px;
      letter-spacing: 0.4px;
      line-height: 21px;
    }
  }

  .step-title{
    font-size: 20px;
    letter-spacing: 0.5px;
  }
  .step-subtitle{
    &:before{
      content: $string-index-portrait-step-subtitle;
      white-space: pre;
    }
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 21px;
  }
  .step-btn{
    display: inline-block;
    padding: 7.5%;

    &:before{
      padding: 50px;
      margin-bottom: 13px;
    }
    &:after{
      font-size: 15px;
      letter-spacing: 0.38px;
      line-height: 20px;
    }
  }

  .btn-start{
    padding: 45px 68px;
    &:before{
      top: 27px;
      right: 30px;
      font-size: 18px;
      line-height: 29px;
    }
  }

  .c-carousel-container{
    margin: 0;
    height: 100%;

    .c-carousel-info{
      margin: 0;
      height: 100%;

      $time-fade-duration: 25s;
      $time-fade-wait: 1s;
      $time-fade-function: ease-in-out;
      .c-carousel-item{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        img{
          height: $page-index-portrait-paddingTop;
          object-fit: cover;
        }

        &:nth-child(1){
          -webkit-animation: a-fade-item $time-fade-duration 0s $time-fade-function infinite;
          -o-animation: a-fade-item $time-fade-duration 0s $time-fade-function infinite;
          animation: a-fade-item $time-fade-duration 0s $time-fade-function infinite;
        }
        &:nth-child(2){
          opacity: 0;
          -webkit-animation: a-fade-item $time-fade-duration 5s $time-fade-function infinite;
          -o-animation: a-fade-item $time-fade-duration 5s $time-fade-function infinite;
          animation: a-fade-item $time-fade-duration 5s $time-fade-function infinite;
        }
        &:nth-child(3){
          opacity: 0;
          -webkit-animation: a-fade-item $time-fade-duration 10s $time-fade-function infinite;
          -o-animation: a-fade-item $time-fade-duration 10s $time-fade-function infinite;
          animation: a-fade-item $time-fade-duration 10s $time-fade-function infinite;
        }
        &:nth-child(4){
          opacity: 0;
          -webkit-animation: a-fade-item $time-fade-duration 15s $time-fade-function infinite;
          -o-animation: a-fade-item $time-fade-duration 15s $time-fade-function infinite;
          animation: a-fade-item $time-fade-duration 15s $time-fade-function infinite;
        }
        &:nth-child(5){
          opacity: 0;
          -webkit-animation: a-fade-item $time-fade-duration 20s $time-fade-function infinite;
          -o-animation: a-fade-item $time-fade-duration 20s $time-fade-function infinite;
          animation: a-fade-item $time-fade-duration 20s $time-fade-function infinite;
        }
      }
    }
  }
}