.page-select-brush{
  min-width: unset;

  .block-middle{
    flex-direction: column;
    margin: 5px 0 0;
  }

  .select-container-left, .select-container-right{
    width: 100%;
  }

  .select-container-left{
    display: block;
    padding: 0;
    //justify-content: center;
    //align-items: center;
    line-height: 0;

    .select-img-display{
      display: none;
    }

    .swipe-info{
      display: block;
    }

    .swipe-select-bg{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 25vw;
      width: 50vw;
      height: calc(50vw + 37px);
      background-color: $color-selectBrush-swipe-item-selected-bg;
      opacity: 0;
      z-index: -1;
      @include transition(all, 0.15s, linear);

      .btn-cancel-select{
        position: absolute;
        top: 8px;
        right: 8px;
      }
    }

    .select-img-swipe-list{
      display: block;
      white-space: nowrap;
      overflow: hidden;
      //overflow: auto;
      //&::-webkit-scrollbar{
      //  width: 0;
      //}
      &:before, &:after{
        display: inline-block;
        content: '';
        width: 25vw;
        height: 25vw;
      }

      .swipe-item{
        position: relative;
        display: inline-block;
        width: 50vw;
        height: 50vw;
        opacity: 0.3;
        @include transition(all, 0.15s, linear);

        &.selected{
          opacity: 1;
        }
      }

      &.selected{
        & ~ .swipe-select-bg{
          opacity: 0.5;
        }
        & ~ .swipe-title{
          color: $color-selectBrush-swipe-item-selected-font;
        }
      }
    }

    .swipe-title{
      font-size: 24px;
      font-weight: $fontWeight-Semibold;
      line-height: 37px;
      color: $color-selectBrush-select-title-font;
      text-align: center;
      @include transition(all, 0.15s, linear);
    }
  }

  .select-container-right{
    padding: 0 30px;
    align-items: center;

    .select-title{
      display: none;
    }

    .select-evaluation{
      margin: 10px 0;

      .feature-star-list, .trait-star-list{
        margin: 0;
        & > li{
          display: inline-flex;
          justify-content: center;
          align-items: center;
          &:nth-child(n+2){
            margin-top: 5px;
          }
        }

        .feature-type, .trait-type{
          margin-right: 15px;

          &:before{
            padding: 15px;
          }
          &:after{
            font-size: 17px;
            letter-spacing: 0.42px;
            line-height: 22px;
            padding-left: 10px;
          }
        }
      }

      .makeup-count-subtitle{
        font-size: 17.3px;
        letter-spacing: 0.2px;
        line-height: 25px;
        margin: 0;

        .makeup-type{
          padding-right: 6px;
        }
        .people-num{
          padding: 0 3px;
          font-size: 23px;
          letter-spacing: 0.1px;
        }
      }
    }

    .select-description{
      font-size: 16px;
      letter-spacing: 0.66px;
      line-height: 24px;
    }

    .select-list{
      display: none;
    }
  }

  .page-title{
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 43px;
  }

  .eva-star-list{
    li{
      padding: 12px;
    }
  }

  .swipe-dots-list{
    margin: 15px 0 20px;
  }

  .btn-next{
    &:before{
      display: none;
    }

    .next-info{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      font-size: 18px;

      letter-spacing: 0.45px;
      line-height: 50px;
      color: $color-portrait-btn-next;
      text-align: center;
      &:before, &:after{
        font-weight: $fontWeight-Regular;
      }
      &:before{
        content: $string-portrait-select-brush-btn-next-info-before;
      }
      &:after{
        content: $string-portrait-select-brush-btn-next-info-after;
      }
    }
  }
}