.page-select-trait{

  .block-middle {
    margin: 5px 0 10px;
  }

  .select-container{
    .select-item{
      width: 80%;
      padding: 10px 40px;

      &:nth-child(2n-1), &:nth-child(2n){
        margin: 0 10%;
      }

      &:after{
        font-size: 14px;
        letter-spacing: 0.4px;
        line-height: 21px;
      }

      .trait-img{
        padding: 60px;

      }
    }
  }

  .btn-next{
    &:before{
      content: $string-portrait-btn-next-brush;
    }
  }
}