.page-select-material{

  .select-container-left{

    .swipe-select-brush{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 50vw;
      opacity: 1;
      z-index: -1;
      @include transition(all, 0.15s, linear);

      &[data-num="h1"], &[data-num="h2"], &[data-num="h3"]{
        background: url(../images/b_01_handle_01-03.png) center/contain no-repeat;
      }
      &[data-num="h4"]{
        background: url(../images/b_01_handle_04.png) center/contain no-repeat;
      }
      &[data-num="h5"], &[data-num="h6"], &[data-num="h7"]{
        background: url(../images/b_01_handle_05-07.png) center/contain no-repeat;
      }
      &[data-num="h8"], &[data-num="h9"], &[data-num="h10"], &[data-num="h11"], &[data-num="h12"]{
        background: url(../images/b_01_handle_08-12.png) center/contain no-repeat;
      }
    }

    .swipe-select-bg{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 12.5vw;
      width: 75vw;
      height: calc(100vw + 37px);
      background-color: $color-selectBrush-swipe-item-selected-bg;
      opacity: 0;
      z-index: -1;
      @include transition(all, 0.15s, linear);

      .btn-cancel-select{
        position: absolute;
        top: 8px;
        right: 8px;
      }
    }

    .select-img-swipe-list{
      position: relative;
      width: 100vw;
      height: 100vw;

      &:before{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      &:after{
        display: none;
        position: absolute;
        top: 0;
        width: 25vw;
        height: 100vw;
        background-color: white;
      }

      &:before{
        left: 0;
      }
      &:after{
        right: 0;
      }

      &[data-num="mt1"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M01.png") center/contain no-repeat;
      }
      &[data-num="mt2"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M02.png") center/contain no-repeat;
      }
      &[data-num="mt3"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M03.png") center/contain no-repeat;
      }
      &[data-num="mt4"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M04.png") center/contain no-repeat;
      }
      &[data-num="mt5"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M05.png") center/contain no-repeat;
      }
      &[data-num="mt6"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M06.png") center/contain no-repeat;
      }
      &[data-num="mt7"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M07.png") center/contain no-repeat;
      }
      &[data-num="mt8"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M08.png") center/contain no-repeat;
      }
      &[data-num="mt9"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M09.png") center/contain no-repeat;
      }
      &[data-num="mt10"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M10.png") center/contain no-repeat;
      }
      &[data-num="mt11"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M11.png") center/contain no-repeat;
      }
      &[data-num="mt12"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M12.png") center/contain no-repeat;
      }
      &[data-num="mt13"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M13.png") center/contain no-repeat;
      }
      &[data-num="mt14"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M14.png") center/contain no-repeat;
      }
      &[data-num="mt15"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M15.png") center/contain no-repeat;
      }
      &[data-num="mt16"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M16.png") center/contain no-repeat;
      }
      &[data-num="mt17"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M17.png") center/contain no-repeat;
      }
      &[data-num="mt18"]:before{
        background: url("https://storage.googleapis.com/brush-by-you.appspot.com/material_bg/BG_M18.png") center/contain no-repeat;
      }

      .swipe-item{
        position: absolute;
        top: 0;
        left: 12.8%;
        width: 74.4%;
        height: 98.4%;
        opacity: 1;
        transform: scaleX(1);
        transform-origin: 25% 0;
        @include transition(all, 0.15s, linear);

        &:nth-child(1){ z-index: 88;}
        &:nth-child(2){ z-index: 87;}
        &:nth-child(3){ z-index: 86;}
        &:nth-child(4){ z-index: 85;}
        &:nth-child(5){ z-index: 84;}
        &:nth-child(6){ z-index: 83;}
        &:nth-child(7){ z-index: 82;}
        &:nth-child(8){ z-index: 81;}
        &:nth-child(9){ z-index: 80;}
        &:nth-child(10){ z-index: 79;}
        &:nth-child(11){ z-index: 78;}
        &:nth-child(12){ z-index: 77;}
        &:nth-child(13){ z-index: 76;}
        &:nth-child(14){ z-index: 75;}
        &:nth-child(15){ z-index: 74;}
        &:nth-child(16){ z-index: 73;}
        &:nth-child(17){ z-index: 72;}
        &:nth-child(18){ z-index: 71;}

        &.swiped{
          transform: scaleX(0);
        }
      }
    }
  }

  .btn-next{
    &:before{
      display: none;
    }

    .next-info{
      &:before{
        content: $string-portrait-select-brush-btn-next-info-before;
      }
      &:after{
        content: $string-portrait-select-material-btn-next-info-after;
      }
    }
  }
}