.page-select-handle{

  .select-container-left{
    margin: 0;

    &:before{
      display: none;
    }

    .swipe-select-brush{
      display: inline-block;
      position: absolute;
      top: 0;
      left: 25vw;
      width: 50vw;
      height: 33.5vw;
      opacity: 0;
      z-index: -1;
      @include transition(all, 0s, linear);

      &.show{
        opacity: 1;
        @include transition(all, 0.15s, linear);
      }
    }

    .swipe-select-bg{
      height: calc(67vw + 37px);
    }

    .select-img-swipe-list{
      .swipe-item{
        height: 67vw;
      }
    }
  }

  .btn-next{
    &:before{
      display: none;
    }

    .next-info{
      &:before{
        content: $string-portrait-select-brush-btn-next-info-before;
      }
      &:after{
        content: $string-portrait-select-handle-btn-next-info-after;
      }
    }
  }
}