.page-complete-topic{
  min-width: 0;

  &:before, &:after{
    display: none;
  }

  .block-middle{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: unset;
  }

  .block-bottom{
    height: auto;
    min-height: unset;
    //margin-top: 20vh;
    margin-top: 15vh;
  }

  .complete-container-left, .complete-container-right{
    display: inline-flex;
    width: 100%;
    padding: 0 5%;
  }

  .complete-container-left{
    justify-content: center;

    .complete-img{
      display: inline-block;
      //height: 30vh;
      height: 43vh;
      width: 100%;
    }
  }
  .complete-container-right{
    position: relative;
    flex-direction: column;
    //padding-top: 10px;
    padding: 15px 10% 0;

    &:before, &:after{
      display: inline-block;
      position: absolute;
      content: '';
      width: 55%;
      height: 75%;
      z-index: $zIndex-block-pseudo;
    }

    &:before{
      top: -50%;
      left: 0;
      background: url(../images/BG_start_fin_mobile_lefttop.png) 0 0/contain no-repeat;
    }
    &:after{
      top: -40%;
      right: 0;
      background: url(../images/BG_start_fin_mobile_righttop.png) 100% 0/contain no-repeat;
    }
  }

  .complete-title-before, .complete-title{
    font-size: 22px;
    font-weight: $fontWeight-Semibold;
    letter-spacing: 0;
    line-height: 30px;
    text-align: center;
    margin: 0;
  }

  .complete-title-before{
    //&:before{
    //  content: $string-portrait-complete-topic-title-before;
    //}
  }
  .complete-info{
    font-size: 16px;
    font-weight: $fontWeight-Regular;
    letter-spacing: 0;
    line-height: 24px;
    margin: 15px 0 0;
    //&:after{
    //  content: $string-portrait-complete-topic-remark;
    //  font-size: 17px;
    //  font-weight: $fontWeight-Semibold;
    //}
  }
  .complete-remark{
    font-size: 17px;
    font-weight: $fontWeight-Semibold;
    margin: 0;
    line-height: unset;
  }

  .complete-btn-bar{
    justify-content: center;
    margin-top: 5px;
  }

  .btn-survey{
    padding: 68px 72px;
    &:before{
      top: 48px;
      left: 48px;
      font-size: 18px;
      line-height: 23px;
    }
  }

  .topic-container{
    width: 85vw;
    height: 80vh;
    border: 1px solid black;
  }
}