.page-complete-thanks{
  padding-top: $page-index-portrait-paddingTop;

  &.show-animation{
    .block-middle:before{
      -webkit-animation: puzzle-hide-bar 1.5s 0s ease 1;
      -o-animation: puzzle-hide-bar 1.5s 0s ease 1;
      animation: puzzle-hide-bar 1.5s 0s ease 1;
    }
    .complete-container-left{
      -webkit-animation: puzzle-complete-container-left 0.5s 0s ease 1;
      -o-animation: puzzle-complete-container-left 0.5s 0s ease 1;
      animation: puzzle-complete-container-left 0.5s 0s ease 1;
    }
    .complete-img-puzzle .puzzle-img{
      &:nth-child(6){
        -webkit-animation: puzzle-img-jump-in-portrait 1.5s 0s ease 1;
        -o-animation: puzzle-img-jump-in-portrait 1.5s 0s ease 1;
        animation: puzzle-img-jump-in-portrait 1.5s 0s ease 1;
      }
    }
  }
  &.before-animation{
    .block-middle:before{
      opacity: 0;
    }
    .complete-container-left{
      z-index: $zIndex-block + 2;
    }
    .complete-img-puzzle .puzzle-img{
      &:nth-child(6){
        width: $puzzleImgWH-portrait * 1.5;
        height: $puzzleImgWH-portrait * 1.5;
        z-index: 99;
        right: ($puzzleImg-portrait-block + $puzzleImgWH-portrait / 2) - ($puzzleImgWH-portrait * 1.5 / 2);
        top: ($puzzleImg-portrait-block + $puzzleImgWH-portrait / 2) - ($puzzleImgWH-portrait * 1.5 / 2);
      }
    }
  }

  .block-top{
    display: none;
  }

  .block-middle{
    position: unset;

    &:before{
      display: block;
      position: absolute;
      top: calc(42.5vh - 80px);
      content: '';
      width: 100%;
      height: 80px;
      background: linear-gradient(-180deg,rgba(255,255,255,0) 0%,#fff 70%);
      z-index: $zIndex-block + 1;
      opacity: 1;
      @include transition(all, 0.2s, linear);
    }
  }

  .complete-container-left, .complete-container-right{
    display: inline-flex;
    width: 100%;
    padding: 0 30px;
  }

  .complete-container-left{
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    height: $page-index-portrait-paddingTop;
    overflow: hidden;
  }

  .complete-container-right{
    background-color: white;
    z-index: $zIndex-block + 1;
  }

  .complete-img-puzzle{
    position: absolute;
    width: $puzzleImg-portrait-block * 3 + $puzzleImgWH-portrait;
    height: $puzzleImg-portrait-block * 2 + $puzzleImgWH-portrait;
    right: calc(50% - 170px - 80px);
    top: calc(50% - 170px - 80px);


    .puzzle-img{
      display: inline-block;
      position: absolute;
      width: $puzzleImgWH-portrait;
      height: $puzzleImgWH-portrait;

      &:nth-child(-n + 12){
        top: $puzzleImg-portrait-block * 2;
      }

      &:nth-child(-n + 8){
        top: $puzzleImg-portrait-block;
      }

      &:nth-child(-n + 4){
        top: 0;
      }

      &:nth-child(4n + 1){
        right: 0;
      }
      &:nth-child(4n + 2){
        right: $puzzleImg-portrait-block;
      }
      &:nth-child(4n + 3){
        right: $puzzleImg-portrait-block * 2;
      }
      &:nth-child(4n + 4){
        right: $puzzleImg-portrait-block * 3;
      }
    }
  }

  .complete-title{
    font-size: 22px;
    font-weight: $fontWeight-Semibold;
    letter-spacing: 0;
    line-height: 30px;
  }

  .complete-info{
    font-size: 16px;
    font-weight: $fontWeight-Regular;
    letter-spacing: 0;
    line-height: 26px;
    &:after{
      content: '';
    }
  }

  .btn-again {
    padding: 73.33px 116.66px;
    &:before{
      top: 65px;
      left: 75px;
      font-size: 18px;
      white-space: nowrap;
    }
  }
}