
.page-select-feature{
  &:before, &:after{
    height: 30%;
  }
  &:before{
    top: unset;
    bottom: 58px;
    background: url(../images/BG_shared_mobile_left.png) 0 0/contain no-repeat;
  }
  &:after{
    top: 0;
    background: url(../images/BG_shared_mobile_righttop.png) 100% 0/contain no-repeat;
  }

  .block-middle{
    margin-bottom: 45px;
  }

  .block-bottom{
    position: fixed;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    @include transition(all, .3s, linear);
    &.active{
      bottom: 0;
    }
  }

  .page-title{
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 0;
  }
  .page-subtitle{
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 21px;
    color: $color-selectFeature-select-page-subtitle;
  }

  .select-container{

    .select-item{
      width: 45%;
      padding: 15px 4px 7.5px;

      &:nth-child(2n-1){
        margin: 2.5px 0.5% 2.5px 2%;
      }
      &:nth-child(2n){
        margin: 2.5px 2.0% 2.5px 0.5%;
      }

      &:after{
        font-size: 14px;
        letter-spacing: 0.4px;
        line-height: 21px;
      }

      .feature-img{
        padding: 45px;

        &:after{
          background-size: 80% !important;
        }
      }

      &.feature-item-2{
        .feature-img:after{
          background-size: 70% !important;
        }
      }
      &.selected, &.active{
        .feature-img:before, .trait-img:before{
          opacity: 1 !important;
        }
      }
      &:hover, &:active{
        .feature-img:before, .trait-img:before{
          opacity: 0;
        }
      }
    }
  }

  .btn-next{
    display: block;
    background: $color-portrait-btn-next-bg;
    padding: 0;
    height: inherit;
    width: 100%;

    &:before{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      content: $string-portrait-btn-next;
      font-size: 18px;
      font-weight: $fontWeight-Semibold;
      letter-spacing: 0.45px;
      line-height: 50px;
      color: $color-portrait-btn-next;
      text-align: center;
    }
    &:after{
      display: inline-block;
      content: '';
      position: absolute;
      right: 30px;
      top: 15px;
      padding: 10px;
      background: url(../images/arrow.svg) center/contain no-repeat;
    }
  }
}