@charset "utf-8";

.page-complete-thanks{
  @extend .page-complete-topic;

  &:before, &:after{
    display: none;
    background: none;
  }

  &:after{
    display: block;
    position: relative;
    content: '';
    width: 100%;
    height: 50px;
  }

  &.show-animation{
    .complete-img-puzzle .puzzle-img{
      &:nth-child(6){
        -webkit-animation: puzzle-img-jump-in-max 1.5s 0s ease 1;
        -o-animation: puzzle-img-jump-in-max 1.5s 0s ease 1;
        animation: puzzle-img-jump-in-max 1.5s 0s ease 1;
      }
    }
  }
  &.before-animation{
    .complete-img-puzzle .puzzle-img{
      &:nth-child(6){
        width: $puzzleImgWH-max * 3;
        height: $puzzleImgWH-max * 3;
        z-index: 99;
        right: ($puzzleImg-max-block + $puzzleImgWH-max / 2) - ($puzzleImgWH-max * 3 / 2);
        top: ($puzzleImg-max-block + $puzzleImgWH-max / 2) - ($puzzleImgWH-max * 3 / 2);
      }
    }
  }

  .title-bar{
    padding: 20px 40px 20px;
  }

  .block-middle{
    height: auto;
    min-height: unset;
  }

  .complete-container-left{
    z-index: $zIndex-block;
  }

  .complete-container-right{
    padding-top: 65px;
    z-index: $zIndex-block - 1;

    &:before, &:after{
      display: inline-block;
      position: absolute;
      content: '';
      width: 75%;
      height: 75%;
      //z-index: $zIndex-block-pseudo - 1;
      z-index: $zIndex-bg-block;
    }
    &:before{
      top: -20%;
      left: -28%;
      @extend .ic-bg-thanks-pc-leftTop;
    }
    &:after{
      bottom: 0;
      right: 0;
      @extend .ic-bg-main-pc-right;
    }
  }

  .complete-img-puzzle{
    position: relative;
    width: $puzzleImg-max-block * 3 + $puzzleImgWH-max;
    height: $puzzleImg-max-block * 2 + $puzzleImgWH-max;


    .puzzle-img{
      display: inline-block;
      position: absolute;
      width: $puzzleImgWH-max;
      height: $puzzleImgWH-max;
      //@extend .ic-carousel-pic-1;

      &:nth-child(-n + 12){
        top: $puzzleImg-max-block * 2;
      }

      &:nth-child(-n + 8){
        top: $puzzleImg-max-block;
      }

      &:nth-child(-n + 4){
        top: 0;
      }

      &:nth-child(4n + 1){
        right: 0;
      }
      &:nth-child(4n + 2){
        right: $puzzleImg-max-block;
      }
      &:nth-child(4n + 3){
        right: $puzzleImg-max-block * 2;
      }
      &:nth-child(4n + 4){
        right: $puzzleImg-max-block * 3;
      }
    }
  }

  .complete-title{
    font-size: 36px;
    font-weight: $fontWeight-Semibold;
    letter-spacing: 0;
    line-height: 50px;
  }

  .complete-info{
    max-width: 530px;
    font-size: 21px;
    font-weight: $fontWeight-Regular;
    letter-spacing: 0.55px;
    line-height: 32px;
    margin: 30px 0 0;
  }
}