@charset "utf-8";

.page-select-feature{

  &:before, &:after{
    display: inline-block;
    position: absolute;
    content: '';
    width: 50%;
    height: 50%;
    //z-index: $zIndex-block-pseudo;
    z-index: $zIndex-bg-block;
  }
  &:before{
    top: -70px;
    left: 0;
    @extend .ic-bg-main-pc-left;
  }
  &:after{
    top: 20%;
    right: 0;
    @extend .ic-bg-main-pc-right;
  }

  .block-top, .block-middle, .block-bottom{
    position: relative;
    z-index: $zIndex-block;
  }

  .block-middle{
    margin: 5px 0 0;
  }

  .block-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }

  .page-title, .page-subtitle{
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .page-title{
    font-size: 27px;
    font-weight: $fontWeight-Semibold;
    letter-spacing: 0.9px;
    line-height: 43px;
    margin-bottom: 5px;
  }
  .page-subtitle{
    font-size: 22px;
    font-weight: $fontWeight-Regular;
    letter-spacing: 0.55px;
    line-height: 30px;
  }

  .select-container{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;

    $psv-fmt-img-padding: 70px;
    .select-item{
      position: relative;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px;
      margin: 10px 15px;
      width: ($psv-fmt-img-padding * 2) + 60px;
      cursor: pointer;
      @include transition(all, .3s, linear);

      .feature-img, .makeup-img, .trait-img{
        position: relative;
        display: inline-block;
        padding: $psv-fmt-img-padding;
        margin-bottom: 5px;

        &:before, &:after{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          width: 100%;
          height: 100%;
          @include transition(all, .3s, linear);
        }
        &:before{
          @extend .ic-feature-item-hover-bg;
          opacity: 0;
          z-index: $zIndex-selectFeature-selectItem-img-bg;
        }
        &:after{
          background-size: 66.66% !important;
          z-index: $zIndex-selectFeature-selectItem-img;
        }
      }

      &.selected, &:active, &.active{
        background-color: rgba($color-selectFeature-select-item-selected-bg, 0.5);

        &:before{
          position: absolute;
          top: 6px;
          right: 6px;
          display: inline-block;
          content: '';
          padding: 8px;
          @extend .ic-btn-cross;
        }
        &:after{
          color: $color-selectFeature-select-item-selected-font;
        }

        .feature-img:before, .trait-img:before{
          opacity: 1;
        }
      }
      &:hover{
        .feature-img:before, .trait-img:before{
          opacity: 1;
        }
      }

      &:after{
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: $fontWeight-Regular;
        letter-spacing: 0.55px;
        line-height: 30px;
        color: $color-selectFeature-select-item-font;
      }

      &.feature-item-1{
        .feature-img:after{
          @extend .ic-feature-item-1;
        }
        &:after{
          content: '上妝快速省時';
        }
      }
      &.feature-item-2{
        .feature-img:after{
          @extend .ic-feature-item-2;
          background-size: 55% !important;
        }
        &:after{
          content: '遮瑕度高';
        }
      }
      &.feature-item-3{
        .feature-img:after{
          @extend .ic-feature-item-3;
        }
        &:after{
          content: '妝感輕薄自然';
        }
      }
      &.feature-item-4{
        .feature-img:after{
          @extend .ic-feature-item-4;
        }
        &:after{
          content: '刷毛柔軟不刺激';
        }
      }
      &.feature-item-5{
        .feature-img:after{
          @extend .ic-feature-item-5;
        }
        &:after{
          content: '刷毛豐厚密實';
        }
      }
      &.feature-item-6{
        .feature-img:after{
          @extend .ic-feature-item-6;
        }
        &:after{
          content: '刷毛彈性佳、易施力';
        }
      }
    }
  }
}