@charset "utf-8";

.page-select-handle{
  @extend .page-select-brush;
  min-width: 1110px;

  .select-container-left{
    position: relative;
    margin: 0 60px 0 30px;
    padding: 0;
    &:before{
      display: inline-block;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      max-width: 621px;
      max-height: 823px;
      width: 75%;
      height: 55vh;
      z-index: -1;
      @extend .ic-bg-handle-display-img;
    }

    .select-img-display{
      position: relative;
      max-width: 621px;
      max-height: 823px;
      width: 75%;
      height: 55vh;

      //&:before{
      //  display: inline-block;
      //  content: '';
      //  position: absolute;
      //  top: 0;
      //  left: 0;
      //  width: 100%;
      //  height: 48%;
      //}
      .select-brush-display{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 48.5%;
        z-index: -1;
      }

      &[data-num="h1"], &[data-num="h2"], &[data-num="h3"]{
        //&:before{
        //  @extend .ic-b-01-handle-0103-item;
        //}
      }
      &[data-num="h4"]{
        //&:before{
        //  @extend .ic-b-01-handle-04-item;
        //}
      }
      &[data-num="h5"], &[data-num="h6"], &[data-num="h7"]{
        //&:before{
        //  @extend .ic-b-01-handle-0507-item;
        //}
      }
      &[data-num="h8"], &[data-num="h9"], &[data-num="h10"], &[data-num="h11"], &[data-num="h12"]{
        //&:before{
        //  @extend .ic-b-01-handle-0812-item;
        //}
      }
      &[data-num="h10"]{
        //&:before{
        //  height: 46.5%;
        //}
        .select-brush-display{
          height: 46.5%;
        }
      }
      &[data-num="h1"], &[data-num="h7"], &[data-num="h9"], &[data-num="h11"]{
        //&:before{
        //  height: 46.5%;
        //}
        .select-brush-display{
          height: 47.5%;
        }
      }
      &[data-num="h6"], &[data-num="h8"]{
        //&:before{
        //  height: 46.5%;
        //}
        .select-brush-display{
          height: 49%;
        }
      }

      &[data-num="h1"]{
        @extend .ic-handle-item-1;
      }
      &[data-num="h2"]{
        @extend .ic-handle-item-2;
      }
      &[data-num="h3"]{
        @extend .ic-handle-item-3;
      }
      &[data-num="h4"]{
        @extend .ic-handle-item-4;
      }
      &[data-num="h5"]{
        @extend .ic-handle-item-5;
      }
      &[data-num="h6"]{
        @extend .ic-handle-item-6;
      }
      &[data-num="h7"]{
        @extend .ic-handle-item-7;
      }
      &[data-num="h8"]{
        @extend .ic-handle-item-8;
      }
      &[data-num="h9"]{
        @extend .ic-handle-item-9;
      }
      &[data-num="h10"]{
        @extend .ic-handle-item-10;
      }
      &[data-num="h11"]{
        @extend .ic-handle-item-11;
      }
      &[data-num="h12"]{
        @extend .ic-handle-item-12;
      }
    }
  }
  .select-container-right{
    .select-evaluation{
      .trait-star-list{
        .trait-type{
          &[data-type="t1"]{
            &:before{
              @extend .ic-trait-item-1;
            }
            &:after{
              content: '容易抓握';
            }
          }
          &[data-type="t2"]{
            &:before{
              @extend .ic-trait-item-2;
            }
            &:after{
              content: '方便攜帶';
            }
          }
          &[data-type="t3"]{
            &:before{
              @extend .ic-trait-item-3;
            }
            &:after{
              content: '立於桌面';
            }
          }
        }
      }
    }

    .select-list{
      max-width: 360px;
      .select-item{
        background-size: cover;

        &:nth-child(-n+5){
          padding: 36px 27.5px;
        }

        &:nth-child(n+6){
          padding: 38px 26.57px;
        }
      }
    }
  }

  .select-list, .select-img-swipe-list{
    .select-item, .swipe-item{

      &.item-handle-1{
        @extend .ic-handle-item-1;
      }
      &.item-handle-2{
        @extend .ic-handle-item-2;
      }
      &.item-handle-3{
        @extend .ic-handle-item-3;
      }
      &.item-handle-4{
        @extend .ic-handle-item-4;
      }
      &.item-handle-5{
        @extend .ic-handle-item-5;
      }
      &.item-handle-6{
        @extend .ic-handle-item-6;
      }
      &.item-handle-7{
        @extend .ic-handle-item-7;
      }
      &.item-handle-8{
        @extend .ic-handle-item-8;
      }
      &.item-handle-9{
        @extend .ic-handle-item-9;
      }
      &.item-handle-10{
        @extend .ic-handle-item-10;
      }
      &.item-handle-11{
        @extend .ic-handle-item-11;
      }
      &.item-handle-12{
        @extend .ic-handle-item-12;
      }
    }
  }
}