@charset "utf-8";

.page-select-brush{
  @extend .page-select-feature;
  min-width: 968px;

  .block-middle{
    display: flex;
    justify-content: center;
    margin: 40px 0 0;
  }

  .select-container-left, .select-container-right{
    display: inline-flex;
    align-items: flex-start;
    width: 50%;
  }

  .select-container-left{
    justify-content: flex-end;
    padding: 0 60px 0 30px;
    .select-img-display{
      position: relative;
      display: inline-block;
      max-width: 600px;
      max-height: 500px;
      width: 75%;
      height: 40vh;
      opacity: 0;
      @include transition(all, 0s, linear);
      &:before{
        opacity: 0;
        @include transition(all, 0s, linear);
      }
      //&:after{
      //  content: '';
      //  display: inline-block;
      //  width: 100%;
      //  height: 100%;
      //  position: absolute;
      //  top: 0;
      //  left: 0;
      //  background-color: white;
      //  opacity: 1;
      //  @include transition(all, 0s, linear);
      //}

      .select-brush-display{
        opacity: 0;
        @include transition(all, 0s, linear);
      }

      &.show{
        opacity: 1;
        @include transition(all, .2s, linear);

        &:before{
          opacity: 1;
          @include transition(all, .6s, linear);
          @include transition-delay(.15s);
        }
        .select-brush-display{
          opacity: 1;
          @include transition(all, .5s, linear);
          @include transition-delay(.15s);
        }
        //&:after{
        //  opacity: 0;
        //  @include transition(all, .3s, linear);
        //}
      }

      //&[data-num="b1"]{
      //  @extend .ic-brush-item-1;
      //}
      //&[data-num="b2"]{
      //  @extend .ic-brush-item-2;
      //}
      //&[data-num="b3"]{
      //  @extend .ic-brush-item-3;
      //}
      //&[data-num="b4"]{
      //  @extend .ic-brush-item-4;
      //}
      //&[data-num="b5"]{
      //  @extend .ic-brush-item-5;
      //}
      //&[data-num="b6"]{
      //  @extend .ic-brush-item-6;
      //}
      //&[data-num="b7"]{
      //  @extend .ic-brush-item-7;
      //}
    }

    .swipe-info{
      display: none;
    }
  }
  .select-container-right{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 30px 0 60px;

    .select-title{
      font-size: 38px;
      font-weight: $fontWeight-Semibold;
      line-height: 37px;
      color: $color-selectBrush-select-title-font;
    }

    .select-evaluation{
      margin: 25px 0 10px;

      .feature-star-list, .trait-star-list{
        margin: 5px 0 0;
        & > li{
          display: inline-flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          &:nth-child(n+2){
            margin-top: 5px;
          }
        }

        .feature-type, .trait-type{
          display: inline-flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-right: 15px;

          &:before{
            display: inline-block;
            content: '';
            padding: 15px;
          }
          &:after{
            font-size: 22px;
            font-weight: $fontWeight-Semibold;
            letter-spacing: 0.55px;
            line-height: 30px;
            color: $color-selectBrush-feature-type-font;
            padding-left: 10px;
          }
          &[data-type="f1"]{
            &:before{
              @extend .ic-feature-item-1;
            }
            &:after{
              content: '上妝省時';
            }
          }
          &[data-type="f2"]{
            &:before{
              @extend .ic-feature-item-2;
            }
            &:after{
              content: '遮瑕度高';
            }
          }
          &[data-type="f3"]{
            &:before{
              @extend .ic-feature-item-3;
            }
            &:after{
              content: '妝感輕薄';
            }
          }
          &[data-type="f4"]{
            &:before{
              @extend .ic-feature-item-4;
            }
            &:after{
              content: '刷毛柔軟';
            }
          }
          &[data-type="f5"]{
            &:before{
              @extend .ic-feature-item-5;
            }
            &:after{
              content: '刷毛豐厚';
            }
          }
          &[data-type="f6"]{
            &:before{
              @extend .ic-feature-item-6;
            }
            &:after{
              content: '刷毛彈性';
            }
          }
        }
      }

      .makeup-count-subtitle{
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 0.55px;
        line-height: 30px;
        color: $color-selectBrush-makeup-count-subtitle;
        margin: 0;

        .makeup-type{
          padding-right: 6px;
        }
        .people-num{
          padding: 0 6px;
          font-size: 21px;
          letter-spacing: 0.33px;
        }
      }
    }

    .select-description{
      max-width: 345px;
      padding: 15px 0 0 0;
      font-size: 20px;
      font-weight: $fontWeight-Regular;
      letter-spacing: 0.55px;
      line-height: 29px;
      color: $color-selectBrush-select-description;
    }

    .select-list{
      max-width: 350px;
      margin-left: -10px;
      line-height: 0;
      .select-item{
        display: inline-block;
        padding: 39px;
        cursor: pointer;
        opacity: 0.3;
        @include transition(all, .3s, linear);
      }
    }
  }

  .select-list, .select-img-swipe-list{
    .select-item, .swipe-item{
      &.selected, &:hover{
        opacity: 1;
      }
      &.item-brush-1{
        @extend .ic-brush-item-1;
      }
      &.item-brush-2{
        @extend .ic-brush-item-2;
      }
      &.item-brush-3{
        @extend .ic-brush-item-3;
      }
      &.item-brush-4{
        @extend .ic-brush-item-4;
      }
      &.item-brush-5{
        @extend .ic-brush-item-5;
      }
      &.item-brush-6{
        @extend .ic-brush-item-6;
      }
      &.item-brush-7{
        @extend .ic-brush-item-7;
      }
    }
  }

  .btn-next{
    .next-info{
      display: none;
    }
  }
}