@charset "utf-8";

$width-index-title: 393px;
$height-index-title: 109px;
$page-index-pc-paddingTop: 166px;
.page-index{
  position: relative;
  padding-top: $page-index-pc-paddingTop;

  .block-top{
    position: relative;
    margin-bottom: 100px;
    &:before, &:after{
      position: absolute;
      top: 0 - $page-index-pc-paddingTop;
      content: '';
      display: inline-block;
      width: 50%;
      height: 100%;
      //z-index: $zIndex-index-block-top-pseudo;
      z-index: $zIndex-bg-block;
    }
    &:before{
      left: 0;
      @extend .ic-bg-index-pc-leftTop;
    }
    &:after{
      right: 0;
      @extend .ic-bg-index-pc-rightTop;
    }
    .info-top, .info-bottom{
      display: flex;
      z-index: $zIndex-index-info;
      *{
        z-index: $zIndex-index-info;
      }
    }
    .info-top{
      justify-content: center;
      flex-direction: column;
    }
    .info-bottom{
      justify-content: center;
      flex-direction: row;
      margin-top: 60px;
      a{
        margin: 0 30px;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }

  .block-middle{
    margin-bottom: 109px;
  }

  .block-bottom{
    position: relative;
    &:before, &:after{
      position: absolute;
      content: '';
      display: inline-block;
      width: 50%;
      height: 25%;
      //z-index: $zIndex-index-block-top-pseudo;
      z-index: $zIndex-bg-block;
    }
    &:before{
      top: 0;
      left: 0;
      @extend .ic-bg-main-pc-left;
    }
    &:after{
      top: 30%;
      right: 0;
      @extend .ic-bg-main-pc-right;
    }

    .info-top{
      padding: 0 10%;
      margin-bottom: 238px;
      .about-body{
        display: flex;
        width: 100%;
      }
      .about-content, .about-ways{
        display: inline-flex;
        flex-direction: column;
        align-self: center;
        width: 50%;
      }
      .about-content{
        padding-right: 58px;
      }
      .about-ways{
        padding: 58px;
      }
    }

    .info-bottom{
      .step-header{
        text-align: center;
        margin-bottom: 90px;
      }
      .step-body{
        display: flex;
        justify-content: center;
        margin-bottom: 90px;
      }
      .step-bottom{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;
      }
    }
  }

  .index-title{
    display: inline-block;
    @extend .ic-index-title;
    width: $width-index-title;
    height: $height-index-title;
    align-self: center;
  }
  .index-subtitle{
    font-size: 32px;
    font-weight: $fontWeight-Semibold;
    letter-spacing: 0.9px;
    line-height: 53px;
    margin-top: 32px;
  }
  .index-content{
    font-size: 24px;
    font-weight: $fontWeight-Regular;
    letter-spacing: 0.7px;
    line-height: 36px;
    margin-top: 22px;
  }
  .index-subtitle, .index-content{
    text-align: center;
  }

  .link-start{
    font-size: 32px;
    font-weight: $fontWeight-Semibold;
    letter-spacing: 0.9px;
    line-height: 43px;
    &, &:hover{
      color: $color-index-link-start;
    }
  }
  .link-about{
    font-size: 21px;
    font-weight: $fontWeight-Regular;
    letter-spacing: 0;
    align-self: center;
    line-height: 26px;
    &, &:hover{
      color: $color-index-link-about;
    }
  }

  .about-title{
    font-size: 32px;
    font-weight: $fontWeight-Semibold;
    letter-spacing: 0;
    line-height: 43px;
    text-align: center;
    margin: 0 0 65px;
  }
  .about-content{
    .content-title{
      font-size: 24px;
      font-weight: $fontWeight-Semibold;
      line-height: 36px;
      margin-bottom: 30px;
    }
    .content-info{
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.7px;
    }
  }
  .about-ways{
    background-color: $color-index-about-ways;
    .content-title{
      font-size: 26px;
      font-weight: $fontWeight-Semibold;
      letter-spacing: 0.7px;
      line-height: 43px;
      margin-bottom: 23px;
    }
    .content-info{
      font-size: 20px;
      font-weight: $fontWeight-Regular;
      letter-spacing: 0.55px;
      line-height: 33px;
    }
    ul li:before{
      content: '-';
      padding: 0 6px;
    }
  }

  .step-title{
    font-size: 32px;
    font-weight: $fontWeight-Semibold;
    letter-spacing: 0.9px;
    line-height: 43px;
  }
  .step-subtitle{
    &:before{
      content: $string-index-pc-step-subtitle;
    }
    font-size: 21px;
    font-weight: $fontWeight-Regular;
    letter-spacing: 0.55px;
    line-height: 30px;
    color: $color-index-step-subtitle;
  }
  .step-btn{
    display: inline-flex;
    flex-direction: column;
    padding: 0 35px;

    &:before{
      content: '';
      display: inline-block;
      padding: 60px;
      margin-bottom: 36px;
    }
    &:after{
      display: block;
      text-align: center;
      font-size: 21px;
      font-weight: $fontWeight-Regular;
      letter-spacing: 0.55px;
      line-height: 30px;
    }
    &.step-icon-1{
      &:before{
        @extend .ic-step-1;
      }
      &:after{
        content: '1 設計刷毛';
      }
    }
    &.step-icon-2{
      &:before{
        @extend .ic-step-2;
      }
      &:after{
        content: '2 設計刷柄';
      }
    }
    &.step-icon-3{
      &:before{
        @extend .ic-step-3;
      }
      &:after{
        content: '3 設計材質';
      }
    }
    &.step-icon-4{
      &:before{
        @extend .ic-step-4;
      }
      &:after{
        content: '4 完成';
      }
    }
  }
}