@charset "utf-8";

.page-select-makeup{
  @extend .page-select-feature;

  .select-container{
    .select-item{
      width: 350px;

      .makeup-img{
        width: 100%;
        padding: 100px;

        &:after{
          background-size: contain !important;
        }
      }

      &.makeup-item-1{
        .makeup-img:after{
          @extend .ic-makeup-item-1;
        }
        &:after{
          content: '裸妝';
        }
      }
      &.makeup-item-2{
        .makeup-img:after{
          @extend .ic-makeup-item-2;
        }
        &:after{
          content: '日系妝';
        }
      }
      &.makeup-item-3{
        .makeup-img:after{
          @extend .ic-makeup-item-3;
        }
        &:after{
          content: '韓系妝';
        }
      }
      &.makeup-item-4{
        .makeup-img:after{
          @extend .ic-makeup-item-4;
        }
        &:after{
          content: '歐美妝';
        }
      }
    }
  }
}