@charset "utf-8";

.page-complete-topic{
  min-width: 968px;

  &:before, &:after{
    display: inline-block;
    position: absolute;
    content: '';
    width: 50%;
    height: 50%;
    //z-index: $zIndex-block-pseudo;
    z-index: $zIndex-bg-block;
  }
  &:before{
    bottom: 0;
    left: 0;
    @extend .ic-bg-fin-pc-left;
    background-size: 30%;
  }
  &:after{
    top: 0;
    right: 0;
    @extend .ic-bg-fin-pc-right;
    background-size: 55%;
  }

  .title-bar{
    padding: 20px 40px 20px;
  }

  .block-top, .block-middle, .block-bottom{
    position: relative;
    z-index: $zIndex-block;
  }

  .block-top{
    .title-info{
      display: none;
    }
  }

  .block-middle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 92px);
    min-height: 800px;
  }

  .block-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    min-height: 800px;
  }

  .complete-container-left, .complete-container-right{
    display: inline-flex;
    width: 50%;
    padding: 0 30px;
  }

  .complete-container-left{
    justify-content: flex-end;

    .complete-img{
      display: inline-block;
      height: 70vh;
      width: 70vh;
      max-width: 700px;
      max-height: 700px;

      //@extend .ic-carousel-pic-1;
    }
  }
  .complete-container-right{
    position: relative;
    flex-direction: column;
    padding-top: 30px;

    &:before{
      display: inline-block;
      position: absolute;
      content: '';
      width: 75%;
      height: 75%;
      //z-index: $zIndex-block-pseudo;
      z-index: $zIndex-bg-block;
      top: 20%;
      left: -30px;
      @extend .ic-bg-fin-pc-middle;
    }
  }

  .complete-title-before{
    font-size: 27px;
    font-weight: $fontWeight-Semibold;
    letter-spacing: 0.75px;
    line-height: 25px;
    //&:before{
    //  content: $string-pc-complete-topic-title-before;
    //}
  }
  .complete-title{
    font-size: 36px;
    font-weight: $fontWeight-Semibold;
    letter-spacing: 1.05px;
    line-height: 50px;
  }
  .complete-info{
    font-size: 21px;
    font-weight: $fontWeight-Regular;
    letter-spacing: 0.55px;
    line-height: 32px;
    margin: 30px 0 0;
  }
  .complete-remark{
    display: block;
    margin-top: 18px;
    font-size: 27px;
    font-weight: $fontWeight-Semibold;
    letter-spacing: 0.75px;
    line-height: 40px;
    //&:before{
    //  content: $string-pc-complete-topic-remark;
    //}
  }
  .complete-btn-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    z-index: $zIndex-block;
  }

  .topic-container{
    width: 70vw;
    height: 80vh;
    //border: 1px solid black;
  }

  .btn-previous{
    padding-bottom: 10px;
  }
}