@charset "utf-8";

.page-select-material{
  @extend .page-select-handle;

  .select-container-left {

    &:before {
      display: none;
      content: unset;
    }

    .select-img-display{
      &:before{
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      &[data-num="mt1"]:before{
        @extend .ic-bg-material-display-mt1;
      }
      &[data-num="mt2"]:before{
        @extend .ic-bg-material-display-mt2;
      }
      &[data-num="mt3"]:before{
        @extend .ic-bg-material-display-mt3;
      }
      &[data-num="mt4"]:before{
        @extend .ic-bg-material-display-mt4;
      }
      &[data-num="mt5"]:before{
        @extend .ic-bg-material-display-mt5;
      }
      &[data-num="mt6"]:before{
        @extend .ic-bg-material-display-mt6;
      }
      &[data-num="mt7"]:before{
        @extend .ic-bg-material-display-mt7;
      }
      &[data-num="mt8"]:before{
        @extend .ic-bg-material-display-mt8;
      }
      &[data-num="mt9"]:before{
        @extend .ic-bg-material-display-mt9;
      }
      &[data-num="mt10"]:before{
        @extend .ic-bg-material-display-mt10;
      }
      &[data-num="mt11"]:before{
        @extend .ic-bg-material-display-mt11;
      }
      &[data-num="mt12"]:before{
        @extend .ic-bg-material-display-mt12;
      }
      &[data-num="mt13"]:before{
        @extend .ic-bg-material-display-mt13;
      }
      &[data-num="mt14"]:before{
        @extend .ic-bg-material-display-mt14;
      }
      &[data-num="mt15"]:before{
        @extend .ic-bg-material-display-mt15;
      }
      &[data-num="mt16"]:before{
        @extend .ic-bg-material-display-mt16;
      }
      &[data-num="mt17"]:before{
        @extend .ic-bg-material-display-mt17;
      }
      &[data-num="mt18"]:before{
        @extend .ic-bg-material-display-mt18;
      }
    }
  }

  .select-container-right{

    .select-description{
      padding: 25px 0 15px 0;
    }

    .select-list{
      max-width: 400px;
      margin: 15px 0 0;

      .select-item{
        background-size: cover;

        &:nth-child(n){
          padding: 22px;
          margin: 8px;
        }

        &:nth-child(6n+1){
          margin-left: 0;
        }

        &.item-material-1{
          @extend .ic-material-item-1;
        }
        &.item-material-2{
          @extend .ic-material-item-2;
        }
        &.item-material-3{
          @extend .ic-material-item-3;
        }
        &.item-material-4{
          @extend .ic-material-item-4;
        }
        &.item-material-5{
          @extend .ic-material-item-5;
        }
        &.item-material-6{
          @extend .ic-material-item-6;
        }
        &.item-material-7{
          @extend .ic-material-item-7;
        }
        &.item-material-8{
          @extend .ic-material-item-8;
        }
        &.item-material-9{
          @extend .ic-material-item-9;
        }
        &.item-material-10{
          @extend .ic-material-item-10;
        }
        &.item-material-11{
          @extend .ic-material-item-11;
        }
        &.item-material-12{
          @extend .ic-material-item-12;
        }
        &.item-material-13{
          @extend .ic-material-item-13;
        }
        &.item-material-14{
          @extend .ic-material-item-14;
        }
        &.item-material-15{
          @extend .ic-material-item-15;
        }
        &.item-material-16{
          @extend .ic-material-item-16;
        }
        &.item-material-17{
          @extend .ic-material-item-17;
        }
        &.item-material-18{
          @extend .ic-material-item-18;
        }
      }
    }
  }

  .select-img-swipe-list{
    .swipe-item{
      &[data-num="h1m1"]{
        @extend .ic-h-01-material-01;
      }
      &[data-num="h1m2"]{
        @extend .ic-h-01-material-02;
      }
      &[data-num="h1m3"]{
        @extend .ic-h-01-material-03;
      }
      &[data-num="h1m4"]{
        @extend .ic-h-01-material-04;
      }
      &[data-num="h1m5"]{
        @extend .ic-h-01-material-05;
      }
      &[data-num="h1m6"]{
        @extend .ic-h-01-material-06;
      }
      &[data-num="h1m7"]{
        @extend .ic-h-01-material-07;
      }
      &[data-num="h1m8"]{
        @extend .ic-h-01-material-08;
      }
      &[data-num="h1m9"]{
        @extend .ic-h-01-material-09;
      }
      &[data-num="h1m10"]{
        @extend .ic-h-01-material-10;
      }
      &[data-num="h1m11"]{
        @extend .ic-h-01-material-11;
      }
      &[data-num="h1m12"]{
        @extend .ic-h-01-material-12;
      }
      &[data-num="h1m13"]{
        @extend .ic-h-01-material-13;
      }
      &[data-num="h1m14"]{
        @extend .ic-h-01-material-14;
      }
      &[data-num="h1m15"]{
        @extend .ic-h-01-material-15;
      }
      &[data-num="h1m16"]{
        @extend .ic-h-01-material-16;
      }
      &[data-num="h1m17"]{
        @extend .ic-h-01-material-17;
      }
      &[data-num="h1m18"]{
        @extend .ic-h-01-material-18;
      }
    }
  }
}