@charset "utf-8";

.page-select-trait{
  @extend .page-select-feature;

  .block-middle{
    margin: 6% 0 10%;
  }

  .block-bottom{
    margin-bottom: 0;
  }

  .select-container{

    .select-item{
      &.trait-item-1{
        .trait-img:after{
          @extend .ic-trait-item-1;
        }
        &:after{
          content: '容易抓握';
        }
      }
      &.trait-item-2{
        .trait-img:after{
          @extend .ic-trait-item-2;
        }
        &:after{
          content: '方便攜帶';
        }
      }
      &.trait-item-3{
        .trait-img:after{
          @extend .ic-trait-item-3;
        }
        &:after{
          content: '立於桌面';
        }
      }
    }
  }
}