@charset "utf-8";

.dialog-container{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $color-dialog-container-bg;
  z-index: $zIndex-dialog-bg;
  opacity: 0;
  @include transition(all, .3s, linear);

  &.show{
    display: flex;
    justify-content: center;
  }
  &.fadeIn, &.visible{
    opacity: 1;
  }
  &.fadeIn-content{
    .dialog-content{
      left: 0;
    }
  }

  .dialog-content{
    position: relative;
    align-self: center;
    left: 100%;
    @include transition(all, .3s, linear);
  }

  .dialog-head{

  }

  .dialog-body{

  }

  .dialog-footer{

  }
}

.model-errmsg{

  .dialog-content{
    background-color: $color-dialog-errMsg-bg;
    width: 100%;
    height: 100%;
    max-width: 507px;
    max-height: 168px;
    margin: 30px;
    padding: 30px;
  }

  .dialog-body, .dialog-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    overflow: auto;
  }

  .dialog-body{
    .dialog-info{
      font-size: 24px;
      font-weight: $fontWeight-Regular;
      line-height: 24px;
      color: $color-dialog-errMsg-font;
    }
  }

  .dialog-footer{
    .btn-dialog-confirm{
      background: none;
      border: 0;
      &:focus{
        outline: 0;
      }
      &:before{
        content: '確定';
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}

.model-news{
  left: 0;
  background-color: $color-dialog-news-container-bg;
  z-index: $zIndex-dialog-news-bg;
  @include transition(none, .3s, linear);

  &.fadeout{
    @include transition(all, .3s, linear);
    opacity: 0;
    left: -100vw;
  }

  .dialog-content{
    max-width: 947px;
    max-height: 354px;
    width: 100%;
    height: 100%;
    background-color: $color-dialog-news-bg;
    padding: 30px;
  }

  .dialog-body{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
  }

  .news-info{
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    .info-time, .info-title{
      margin: 0;
      text-align: center;
    }
    .info-time{
      font-size: 24px;
      font-weight: $fontWeight-Regular;
      line-height: 46px;
    }
    .info-title{
      font-size: 30px;
      font-weight: $fontWeight-Semibold;
      line-height: 46px;
    }
  }
  .news-img{
    width: 50%;
    @extend .ic-news-pic;
  }

}