meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
meta(http-equiv="X-UA-Compatible" content="ID=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
title Brush by you

link(href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
link(href="css/custom-css.css" rel="stylesheet")

<!-- Global site tag (gtag.js) - Google Analytics -->
script(src="https://www.googletagmanager.com/gtag/js?id=UA-153554393-1" async)
script.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-153554393-1');