doctype html
html(lang="en")
    head
        block head-plug-before
        include parts/head
        block head-plug-css
        block head-plug-js
    body
        block body
        block footer
        block dialog-else
        include dialog/errMsg
        include dialog/confirm
        include ../mixin/scripts/default
        block script